        .video-js {
    width: 300px;
    height: 150px;
}

.vjs-fluid {
    padding-top: 56.25%
}

.transistionEffects {
    transform: translate(-40px);
    transition-timing-function: ease-in;
    /* Quick on the way out */
    transition: 1500s;
}

[_ngcontent-c3] {
    font-size: 14px
}

h1,
h2 {
    font-size: 50px!important;
}

.terms[_ngcontent-c3]::before {
    background-color: #fff;
    position: absolute;
    top: 5px !important;
    left: 0px;
    content: '';
    width: 17px !important;
    height: 17px !important;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid #ef5734 !important;
    right: 0px;
    padding-right: 11px;
}

.image-container-btn .signinelement:hover {
    color: #f9876d;
}

#terms[_ngcontent-c3]:checked+.terms[_ngcontent-c3]::before {
    /* background: url(/assets/img/icon_checked.png) center center/16px 12px no-repeat #ff9700 !important; */
}

.image-container[_ngcontent-c3] {
    background-image: linear-gradient(253deg, #ffaf9c 0, #ffa200 100%) !important;
}

.root__loader[_ngcontent-c0] {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 9999;
}

.sk-folding-cube[_ngcontent-c0] {
    margin: -40px auto 20px;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube[_ngcontent-c0] .sk-cube[_ngcontent-c0] {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube[_ngcontent-c0] .sk-cube[_ngcontent-c0]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #28b498;
    -webkit-animation: 2.4s linear infinite both sk-foldCubeAngle;
    animation: 2.4s linear infinite both sk-foldCubeAngle;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube[_ngcontent-c0] .sk-cube2[_ngcontent-c0] {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube[_ngcontent-c0] .sk-cube3[_ngcontent-c0] {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube[_ngcontent-c0] .sk-cube4[_ngcontent-c0] {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube[_ngcontent-c0] .sk-cube2[_ngcontent-c0]:before {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.sk-folding-cube[_ngcontent-c0] .sk-cube3[_ngcontent-c0]:before {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.sk-folding-cube[_ngcontent-c0] .sk-cube4[_ngcontent-c0]:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0);
        transform: perspective(140px) rotateX(0);
        opacity: 1;
    }
    100%,
    90% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0);
        transform: perspective(140px) rotateX(0);
        opacity: 1;
    }
    100%,
    90% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

.pagination[_ngcontent-c3] {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 32px;
}

.pagination[_ngcontent-c3] .step[_ngcontent-c3] {
    width: 30px;
    height: 30px;
}

.pagination[_ngcontent-c3] .step[_ngcontent-c3]>span[_ngcontent-c3] {
    width: 100%;
    height: 100%;
    background: 0 0;
    cursor: pointer;
    display: block;
}

.pagination[_ngcontent-c3] .step.disabled[_ngcontent-c3] {
    opacity: .5;
}

.pagination[_ngcontent-c3] .step.left[_ngcontent-c3] {
    background: url(/assets/img/left-arrow-button.svg) center center/24px no-repeat;
    margin-right: 24px;
}

.pagination[_ngcontent-c3] .step.right[_ngcontent-c3] {
    background: url(/assets/img/right-arrow-button.svg) center center/24px no-repeat;
    margin-left: 24px;
}

.pagination[_ngcontent-c3] .dots[_ngcontent-c3] {
    color: #848c8a;
    font-family: GothamPro, serif;
    font-size: .875rem;
    margin: 0 16px;
}

.pagination[_ngcontent-c3] .pages[_ngcontent-c3] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pagination[_ngcontent-c3] .pages[_ngcontent-c3] .page[_ngcontent-c3] {
    width: 40px;
    height: 40px;
    border-radius: 1px;
    color: #1a1e1d;
    font-size: .875rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width:550px) {
    .pagination[_ngcontent-c3] .step[_ngcontent-c3] {
        width: 25px;
        height: 25px;
    }
    .pagination[_ngcontent-c3] .step.left[_ngcontent-c3] {
        margin-right: 12px;
    }
    .pagination[_ngcontent-c3] .step.right[_ngcontent-c3] {
        margin-left: 12px;
    }
    .pagination[_ngcontent-c3] .dots[_ngcontent-c3] {
        margin: 0 8px;
    }
    .pagination[_ngcontent-c3] .pages[_ngcontent-c3] .page[_ngcontent-c3] {
        width: 35px;
        height: 35px;
    }
}

.pagination[_ngcontent-c3] .pages[_ngcontent-c3] .page.active[_ngcontent-c3] {
    background-color: #3bb397;
    color: #fff;
}

.coming__soon[_ngcontent-c3] {
    font-family: "GothamPro Light", serif;
    font-size: .75rem;
}

.toast[_ngcontent-c3],
.toast-error[_ngcontent-c3],
.toast-info[_ngcontent-c3],
.toast-success[_ngcontent-c3],
.toast-warning[_ngcontent-c3] {
    background-color: #1a1e1d!important;
}

#toast-container[_ngcontent-c3]>div[_ngcontent-c3] {
    border-radius: 0!important;
}

.toast-message[_ngcontent-c3],
.toast-message[_ngcontent-c3] a[_ngcontent-c3],
.toast-message[_ngcontent-c3] label[_ngcontent-c3] {
    color: #fff!important;
    font-size: .75rem!important;
    line-height: 20px!important;
    ;
}

.about__boxes-title[_ngcontent-c3] {
    color: #202121;
    font-size: 1.125rem;
    margin-bottom: .8rem;
}

.complete__course-boxes-title[_ngcontent-c3] {
    color: #202121;
    font-size: 1.125rem;
    min-width: 175px;
}

@media screen and (max-width:640px) {
    .complete__course-boxes-title[_ngcontent-c3] {
        min-width: auto;
        margin-bottom: 8px;
    }
}

.margin--top[_ngcontent-c3] {
    margin-top: 48px;
}

.create__quiz-content-title[_ngcontent-c3] {
    color: #202121;
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: 0;
    margin: 0 0 2.5rem;
}

@media screen and (max-width:900px) {
    .create__quiz-content-title[_ngcontent-c3] {
        margin-bottom: 2rem
    }
}

@media screen and (max-width:640px) {
    .create__quiz-content-title[_ngcontent-c3] {
        font-size: 1.625rem;
        line-height: 32px
    }
}

.create__quiz-content-name-input[_ngcontent-c3] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    border-radius: 1px 0 0 1px;
    border: 1px solid #3bb497;
    background-color: #fff;
    outline: 0;
    padding: 0 1rem
}

.create__quiz-content-advanced-item-head-i[_ngcontent-c3] {
    width: 1.0625rem;
    height: 1.0625rem;
    background: url(/assets/img/information.svg) center center/contain no-repeat
}

.about__second-content-title[_ngcontent-c3] {
    color: #202121;
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 40px;
    margin: 0
}

@media screen and (max-width:640px) {
    .about__second-content-title[_ngcontent-c3] {
        font-size: 1.625rem;
        line-height: 32px;
        margin-bottom: 2rem
    }
}

.add__circle[_ngcontent-c3] {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    border: 1px solid #848c8a;
    border-radius: 100%;
    background: url(/assets/img/add.svg) center center/55% no-repeat;
    cursor: pointer
}

.close__tab[_ngcontent-c3] {
    width: 17px;
    height: 17px;
    cursor: pointer;
    background: url(/assets/img/upload-close-black.svg) center center/contain no-repeat
}

.container__title[_ngcontent-c3] {
    color: #1a1e1d;
    font-size: 1.125rem;
    margin-bottom: 16px;
    text-align: center
}

.about__title[_ngcontent-c3],
.settings__title[_ngcontent-c3] {
    color: #1a1e1d;
    font-size: 1.5rem;
    line-height: 32px;
    margin-bottom: 16px
}

.about__title.with--info[_ngcontent-c3] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.about__title.with--info[_ngcontent-c3]>span[_ngcontent-c3]:not(:first-child) {
    margin-left: 4px
}

.course__box[_ngcontent-c3] {
    width: 100%;
    background-color: #fff;
    padding: 40px;
    -webkit-box-shadow: 0 1px 0 #d2d8d7;
    box-shadow: 0 1px 0 #d2d8d7;
    border-radius: 1px;
    margin-bottom: 48px
}

.course__box[_ngcontent-c3] .box--child[_ngcontent-c3]:not(:last-child) {
    display: block;
    margin-bottom: 48px
}

.course__box.industry--box[_ngcontent-c3] {
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.course__box.without--padding[_ngcontent-c3] {
    padding: 0
}

.course__box__wrapper[_ngcontent-c3] {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px
}

@media screen and (max-width:640px) {
    .course__box[_ngcontent-c3] {
        padding: 16px
    }
    .course__box__wrapper[_ngcontent-c3] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .auth-wrapper[_ngcontent-c3] .figures-wrapper[_ngcontent-c3] {
        display: none
    }
}

.course__box__wrapper[_ngcontent-c3] .title[_ngcontent-c3] {
    color: #1a1e1d;
    font-size: 1.5rem
}

.industry__fieldset[_ngcontent-c3] {
    border: none;
    outline: 0;
    margin: 0;
    padding: 0
}

.industry__fieldset.active[_ngcontent-c3] {
    opacity: .5
}

*[_ngcontent-c3] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a[_ngcontent-c3] {
    text-decoration: none
}

.auth-wrapper[_ngcontent-c3] {
    position: relative;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.auth-wrapper[_ngcontent-c3] input[_ngcontent-c3] {
    line-height: 50px
}

.auth-wrapper.reverse-page[_ngcontent-c3] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.auth-wrapper[_ngcontent-c3] .figures-wrapper[_ngcontent-c3] {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    overflow: hidden
}

.auth-wrapper[_ngcontent-c3] .figures-wrapper_login[_ngcontent-c3] {
    right: 0
}

.auth-wrapper[_ngcontent-c3] .figures-wrapper_auth[_ngcontent-c3] {
    left: 0
}

.auth-wrapper[_ngcontent-c3] .figures-wrapper__container[_ngcontent-c3] {
    width: 100%;
    height: 100%;
    position: relative
}

.container-flapper[_ngcontent-c3],
.image-container[_ngcontent-c3],
.page-retreat[_ngcontent-c3] {
    max-width: 36.25rem
}

@media screen and (max-width:1700px) {
    .container-flapper[_ngcontent-c3],
    .image-container[_ngcontent-c3],
    .page-retreat[_ngcontent-c3] {
        max-width: 30rem
    }
}

@media screen and (max-width:1500px) {
    .container-flapper[_ngcontent-c3],
    .image-container[_ngcontent-c3],
    .page-retreat[_ngcontent-c3] {
        max-width: 39.875rem
    }
}

@media screen and (max-width:1100px) {
    .container-flapper[_ngcontent-c3],
    .image-container[_ngcontent-c3],
    .page-retreat[_ngcontent-c3] {
        max-width: 21.875rem
    }
    .image-container[_ngcontent-c3] {
        padding: 0 8px
    }
}

@media screen and (max-width:800px) {
    .container-flapper[_ngcontent-c3],
    .image-container[_ngcontent-c3],
    .page-retreat[_ngcontent-c3] {
        max-width: 17.1875rem
    }
}

.container-flapper[_ngcontent-c3] {
    width: 100%
}

@media screen and (max-width:640px) {
    .auth-wrapper[_ngcontent-c3] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        display: block
    }
    .container-flapper[_ngcontent-c3],
    .image-container[_ngcontent-c3],
    .page-retreat[_ngcontent-c3] {
        max-width: 100%
    }
    .container-flapper[_ngcontent-c3] {
        display: none
    }
}

.image-container[_ngcontent-c3] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    overflow: hidden
}

.image-container_login[_ngcontent-c3] {
    right: 0
}


/*.image-container_auth[_ngcontent-c3]{
    left:0
}*/

@media screen and (max-width:640px) {
    .image-container[_ngcontent-c3] {
        padding: 64px 8px;
        height: auto;
        position: static
    }
    .image-container_auth[_ngcontent-c3] {
        padding: 112px 8px;
        height: auto;
        position: static
    }
}

.image-container[_ngcontent-c3] .container-wrapper[_ngcontent-c3] {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: 0 0
}

.image-container-title[_ngcontent-c3] {
    max-width: 100%;
    color: #fff;
    letter-spacing: 0;
    line-height: 48px;
    margin: 0 0 32px;
    text-align: center;
}

@media screen and (max-width:1100px) {
    .image-container-title[_ngcontent-c3] {
        font-size: 36px;
    }
    @media screen and (max-height:700px) {
        .image-container-title[_ngcontent-c3] {
            margin-bottom: 16px;
            font-size: 36px;
        }
    }
    .image-container-text[_ngcontent-c3] {
        width: 100%;
        max-width: 350px;
        color: #fff;
        font-size: 2.125rem;
        letter-spacing: 0;
        line-height: 36px;
        text-align: center;
        margin-bottom: 32px
    }
    @media screen and (max-width:1100px) {
        .image-container-text[_ngcontent-c3] {
            font-size: 2.125rem;
            max-width: 320px
        }
    }
    @media screen and (max-width:900px) {
        .image-container-text[_ngcontent-c3] {
            font-size: 2.125rem;
            max-width: 240px
        }
    }
    @media screen and (max-height:700px) {
        .image-container-text[_ngcontent-c3] {
            font-size: 2.125rem;
            margin-bottom: 24px
        }
    }
    .image-container-btn[_ngcontent-c3] {
        font-weight: bold;
        height: 54px;
        min-width: 223px;
        border: none;
        border-radius: 30px;
        color: #1a1e1d;
        font-size: .875rem;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 100%;
        -webkit-box-shadow: 0 12px 24px rgba(34, 51, 49, .13);
        box-shadow: 0 12px 24px rgba(34, 51, 49, .13);
        background: #fff;
        width: 40%
    }
    .login__figure[_ngcontent-c3] {
        position: absolute;
        background-color: rgba(255, 255, 255, .08);
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    .login__figure.first[_ngcontent-c3] {
        width: 70px;
        height: 140px;
        top: 25%;
        right: 45%;
        -webkit-transform: rotate(-65deg);
        transform: rotate(-65deg)
    }
    .login__figure.second[_ngcontent-c3] {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        top: 13%;
        left: -4%
    }
    @media screen and (max-width:1100px) {
        .login__figure.second[_ngcontent-c3] {
            width: 3.9375rem;
            height: 3.9375rem
        }
    }
    .login__figure.third[_ngcontent-c3] {
        width: 0;
        height: 0;
        border-top: 95px solid transparent;
        border-bottom: 78px solid transparent;
        border-left: 180px solid rgba(255, 255, 255, .08);
        bottom: 8%;
        left: 11%;
        background-color: transparent;
        -webkit-transform: rotate(-46deg);
        transform: rotate(-46deg)
    }
    .login__figure.four[_ngcontent-c3] {
        width: 75px;
        height: 150px;
        top: 55%;
        left: -1%;
        -webkit-transform: rotate(-75deg);
        transform: rotate(-75deg)
    }
    .login__figure.five[_ngcontent-c3] {
        width: 250px;
        height: 250px;
        bottom: 17%;
        right: 4%;
        border-radius: 100%
    }
    @media screen and (max-width:1100px) {
        .login__figure.third[_ngcontent-c3] {
            border-top: 48px solid transparent;
            border-bottom: 39px solid transparent;
            border-left: 90px solid rgba(255, 255, 255, .08)
        }
        .login__figure.five[_ngcontent-c3] {
            width: 63px;
            height: 63px;
            bottom: 15%;
            right: 25%
        }
    }
    @media screen and (max-height:700px) {
        .login__figure.third[_ngcontent-c3] {
            border-top: 48px solid transparent;
            border-bottom: 39px solid transparent;
            border-left: 90px solid rgba(255, 255, 255, .08)
        }
        .login__figure.five[_ngcontent-c3] {
            width: 63px;
            height: 63px;
            right: 24%
        }
    }
    .login__figure.six[_ngcontent-c3] {
        width: 0;
        height: 0;
        border-top: 60px solid transparent;
        border-bottom: 70px solid transparent;
        border-left: 160px solid rgba(255, 255, 255, .08);
        top: 9%;
        right: 24%;
        background-color: transparent;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    @media screen and (max-width:640px) {
        .login__figure.first[_ngcontent-c3] {
            display: none
        }
        .login__figure.second.registration_second[_ngcontent-c3] {
            top: 23%
        }
        .login__figure.five[_ngcontent-c3],
        .login__figure.third[_ngcontent-c3] {
            display: none
        }
        .login__figure.six[_ngcontent-c3] {
            top: 7%;
            right: 0
        }
        .login__figure.six.registration_six[_ngcontent-c3] {
            top: 23%;
            right: -10%
        }
        .login__figure.seven[_ngcontent-c3] {
            display: none
        }
    }
    .login__figure.seven[_ngcontent-c3] {
        width: 140px;
        height: 140px;
        bottom: 4%;
        right: -2.1875rem;
        border-radius: 100%
    }
    .login__content[_ngcontent-c3] {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 8px
    }
    .login__content-title[_ngcontent-c3] {
        max-width: 100%;
        color: #202121;
        letter-spacing: 0;
        line-height: 64px;
        margin: 0 0 16px;
        text-align: center
    }
    @media screen and (max-width:1500px) {
        .login__content-title[_ngcontent-c3] {
            line-height: 58px
        }
    }
    @media screen and (max-width:1100px) {
        .login__content-title[_ngcontent-c3] {
            line-height: 58px
        }
    }
    @media screen and (max-width:640px) {
        .login__content[_ngcontent-c3] {
            padding: 128px 16px 64px
        }
        .login__content-title[_ngcontent-c3] {
            font-size: 2.25rem;
            line-height: 52px
        }
    }
    @media screen and (max-height:700px) {
        .login__content-title[_ngcontent-c3] {
            line-height: 52px;
            margin-bottom: 8px
        }
    }
    .login__content-text[_ngcontent-c3] {
        max-width: 100%;
        color: #555a59;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0;
        margin-bottom: 16px
    }
    .login__form[_ngcontent-c3] {
        width: 100%;
        max-width: 460px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto
    }
    .login__form.submited[_ngcontent-c3] input.ng-invalid[_ngcontent-c3]:focus {
        border: 1px solid rgba(255, 99, 71, .4)
    }
    .login__form.submited[_ngcontent-c3] input.ng-valid[_ngcontent-c3]:focus {
        border: 1px solid rgba(59, 180, 151, .4)
    }
    .login__form-title[_ngcontent-c3] {
        color: #555a59;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 8px
    }
    .login__form-title-wrapper[_ngcontent-c3] {
        width: 100%;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 8px;
        max-width: 685px
    }
    .login__form-input[_ngcontent-c3] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 48px;
        background: #eef5f3;
        outline: 0;
        border: none;
        font-size: 14px;
        border-radius: 20px;
        color: #88908e;
        padding: 0 16px;
        -webkit-transition: background .3s;
        transition: background .3s
    }
    .login__form-input[_ngcontent-c3]:focus {
        background: #fff;
        border: 1px solid #e1eae7
    }
    .login__form-btn[_ngcontent-c3] {
        width: 235px;
        height: 54px;
        background-color: #f9876d;
        border-radius: 30px;
        outline: 0;
        border: none;
        cursor: pointer;
        -webkit-display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        line-height: 16px;
        text-align: center;
        margin: 32p;
        -webkit-transition: .3s;
        transition: .3s
    }
    @media screen and (max-height:700px) {
        .login__form-btn[_ngcontent-c3] {
            margin: 2rem 0;
        }
    }
    .login__forgotten-pass[_ngcontent-c3] {
        color: #585858;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 32px;
        border-bottom: 1px solid rgba(88, 88, 88, .2);
        cursor: pointer;
        height: 1.875rem
    }
    .page-logo[_ngcontent-c3] {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 140px;
        height: 45px;
        cursor: pointer;
        z-index: 30;
        background-size: 31px
    }
    .page-logo_auth.login_toggle[_ngcontent-c3],
    .page-logo_login[_ngcontent-c3] {
        background: url(/assets/img/diprella_logo.svg) center center no-repeat
    }
    .page__close[_ngcontent-c3] {
        width: 31px;
        height: 31px;
        background-size: 31px;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        z-index: 30
    }
    .page__close_login[_ngcontent-c3] {
        background: url(/assets/img/login_close.svg) center center no-repeat
    }
    @media screen and (max-width:640px) {
        .page__close_login[_ngcontent-c3] {
            background: url(/assets/img/login_close_grey.svg) center center no-repeat;
            margin-top: 4px
        }
    }
    .page__close_auth.toggle--close[_ngcontent-c3] {
        background: url(/assets/img/login_close.svg) center center no-repeat
    }
    @media screen and (max-width:640px) {
        .page__close_auth[_ngcontent-c3] {
            background: url(/assets/img/login_close.svg) center center no-repeat
        }
    }
    .sign__up-pass-wrapper[_ngcontent-c3] {
        position: relative
    }
    @media screen and (max-width:1050px) {
        .login__form-title-wrapper[_ngcontent-c3] {
            max-width: 460px
        }
        .sign__up-pass-wrapper[_ngcontent-c3] {
            width: 100%;
            max-width: 460px
        }
    }
    .sign__up-pass-eye[_ngcontent-c3] {
        position: absolute;
        top: 4px;
        bottom: 0;
        margin: 14px auto;
        right: 16px;
        width: 26px;
        height: 16px;
        cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2226%22 height%3D%2217%22 viewBox%3D%220 0 26 17%22 style%3D%22opacity%3A .5%22%3E %3Cpath fill%3D%22%23555a59%22 d%3D%22M25.85 8.55C21.77 3.41 17.38.88 12.8 1 5.42 1.22.34 8.28.13 8.58l-.03.05-.02.03-.03.09-.02.04-.02.08-.01.06v.14l.01.06.02.08.02.04.03.09.02.03.03.05c.21.3 5.29 7.36 12.67 7.58h.34c4.46 0 8.73-2.54 12.71-7.55.1-.13.15-.29.15-.45a.74.74 0 0 0-.15-.45zm-13 7.04C7.11 15.43 2.73 10.48 1.54 9c1.19-1.48 5.57-6.43 11.31-6.59 4-.11 7.89 2.11 11.59 6.59-3.7 4.48-7.58 6.71-11.59 6.59z%22%2F%3E%3Cpath fill%3D%22%23555a59%22 d%3D%22M13 5a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 7a3 3 0 0 1-3-3 3 3 0 0 1 3-3 3 3 0 0 1 3 3 3 3 0 0 1-3 3z%22%2F%3E%3C%2Fsvg%3E") center center/contain no-repeat;
        -webkit-transition: background .3s;
        transition: background .3s
    }
    @media screen and (max-width:950px) {
        .sign__up-pass-eye[_ngcontent-c3] {
            margin: 16px auto
        }
    }
    .sign__up-pass-eye.active[_ngcontent-c3],
    .sign__up-pass-eye[_ngcontent-c3]:hover {
        -webkit-transition: background .3s;
        transition: background .3s;
        background: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2226%22 height%3D%2217%22 viewBox%3D%220 0 26 17%22%3E%3Cpath fill%3D%22%233BB497%22 d%3D%22M25.85 8.55C21.77 3.41 17.38.88 12.8 1 5.42 1.22.34 8.28.13 8.58l-.03.05-.02.03-.03.09-.02.04-.02.08-.01.06v.14l.01.06.02.08.02.04.03.09.02.03.03.05c.21.3 5.29 7.36 12.67 7.58h.34c4.46 0 8.73-2.54 12.71-7.55.1-.13.15-.29.15-.45a.74.74 0 0 0-.15-.45zm-13 7.04C7.11 15.43 2.73 10.48 1.54 9c1.19-1.48 5.57-6.43 11.31-6.59 4-.11 7.89 2.11 11.59 6.59-3.7 4.48-7.58 6.71-11.59 6.59z%22%2F%3E%3Cpath fill%3D%22%233BB497%22 d%3D%22M13 5a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 7a3 3 0 0 1-3-3 3 3 0 0 1 3-3 3 3 0 0 1 3 3 3 3 0 0 1-3 3z%22%2F%3E%3C%2Fsvg%3E") center center/contain no-repeat
    }
    .auth__form-fieldset[disabled][_ngcontent-c3] {
        opacity: .5
    }
    .auth__form-fieldset-input[_ngcontent-c3] {
        border-radius: 25px;
        width: auto;
        padding: 0;
        margin: 0;
        outline: 0;
        border: none;
        -webkit-transition: border .2s;
        transition: border .2s;
        position: relative
    }
    @media screen and (max-width:1050px) {
        .auth__form-fieldset-input[_ngcontent-c3] {
            width: 100%;
            max-width: 460px
        }
    }
    .auth__form-fieldset-input.with--margin[_ngcontent-c3] {
        margin-bottom: 20px
    }
    .error__box[_ngcontent-c3] {
        display: block;
        position: relative
    }
    .registration__form[_ngcontent-c3] {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    .registration__form.submited[_ngcontent-c3] input.ng-invalid[_ngcontent-c3]:focus {
        border: 1px solid rgba(255, 99, 71, .4)
    }
    .registration__form.submited[_ngcontent-c3] input.ng-valid[_ngcontent-c3]:focus {
        border: 1px solid rgba(59, 180, 151, .4)
    }
    @media screen and (max-width:400px) {
        .registration__logo_login_toggle[_ngcontent-c3] {
            background: url(/assets/img/diprella_logo.svg) center center no-repeat
        }
        .registration__input[_ngcontent-c3] {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 32.875rem;
            max-width: 100%;
            height: 48px;
            background: #eef5f3;
            outline: 0;
            border: none;
            font-size: 14px;
            font-weight: 700;
            border-radius: 25px;
            color: #88908e;
            padding: 0 24px;
            -webkit-transition: background .3s;
            transition: background .3s
        }
        .registration__input[_ngcontent-c3]:focus {
            background: #fff;
            border: 1px solid #e1eae7
        }
        .registration__input.margin_input[_ngcontent-c3] {
            margin-right: 18px
        }
        .registration__input-box[_ngcontent-c3] {
            width: 100%;
            height: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }
        @media screen and (max-width:1050px) {
            .registration__input[_ngcontent-c3] {
                width: 100%;
                max-width: 460px
            }
            .registration__input.margin_input[_ngcontent-c3] {
                margin-right: 0
            }
            .registration__input-box[_ngcontent-c3] {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                margin-bottom: 0
            }
        }
        @media screen and (max-width:640px) {
            .error__box[_ngcontent-c3] {
                margin: 0
            }
            .registration__content[_ngcontent-c3] {
                padding: 64px 16px
            }
            .registration__image-container[_ngcontent-c3] {
                padding: 112px 8px 64px
            }
            .terms[_ngcontent-c3] {
                top: 7px;
                margin-left: 0
            }
        }
        #terms[_ngcontent-c3] {
            display: none
        }
        #terms[_ngcontent-c3]:checked+.terms[_ngcontent-c3]:before {
            position: absolute;
            top: -1px;
            left: -1px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            content: "";
            font-size: 1.125rem;
            color: #fff;
            width: 1.25rem;
            height: 1.25rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: 0;
            border: none;
            background: url(/assets/img/icon_checked.png) center center/16px 12px no-repeat #3bb497;
            padding: 1px 0 0 1px
        }
        .terms[_ngcontent-c3] {
            top: 7px;
            padding-left: 2.75rem;
            position: relative;
            border-radius: 1px;
            min-height: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }
        .terms[_ngcontent-c3]:before {
            background-color: #fff;
            position: absolute;
            top: -1px;
            left: -1px;
            content: '';
            width: 1.25rem;
            height: 1.25rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: 0;
            border: 1px solid #3bb497
        }
        .terms__wrapper[_ngcontent-c3] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            font-size: .8125rem;
            color: #141716;
        }
        @media screen and (max-width:640px) {
            .terms__wrapper[_ngcontent-c3] {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center
            }
        }
        .terms__link[_ngcontent-c3] {
            color: #f9876d;
            cursor: pointer;
            outline: 0
        }
        .animate-text[_ngcontent-c3] {
            position: relative;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end
        }
        @media screen and (max-width:640px) {
            .animate-text[_ngcontent-c3] {
                height: auto
            }
        }
        .container-text__wrapper[_ngcontent-c3] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0
        }
        @media screen and (max-width:640px) {
            .container-text__wrapper[_ngcontent-c3] {
                position: static
            }
        }
        .content-wrapper[_ngcontent-c3] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }
        .hidden-element[_ngcontent-c3] {
            display: none
        }
        .auth__form-fieldset[_ngcontent-c3] {
            width: 100%;
            border: none;
            outline: 0;
            padding: 0
        }
        .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        .fb_reposition {
            overflow: hidden;
            position: relative
        }
        .fb_invisible {
            display: none
        }
        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal
        }
        .fb_reset>div {
            overflow: hidden
        }
        @keyframes fb_transform {
            from {
                opacity: 0;
                transform: scale(.95)
            }
            to {
                opacity: 1;
                transform: scale(1)
            }
        }
        .fb_animate {
            animation: fb_transform .3s forwards
        }
        .root__loader[_ngcontent-c0] {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            z-index: 9999
        }
        .sk-folding-cube[_ngcontent-c0] {
            margin: -40px auto 20px;
            width: 40px;
            height: 40px;
            position: relative;
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg)
        }
        .sk-folding-cube[_ngcontent-c0] .sk-cube[_ngcontent-c0] {
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }
        .sk-folding-cube[_ngcontent-c0] .sk-cube[_ngcontent-c0]:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #28b498;
            -webkit-animation: 2.4s linear infinite both sk-foldCubeAngle;
            animation: 2.4s linear infinite both sk-foldCubeAngle;
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%
        }
        .sk-folding-cube[_ngcontent-c0] .sk-cube2[_ngcontent-c0] {
            -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg)
        }
        .sk-folding-cube[_ngcontent-c0] .sk-cube3[_ngcontent-c0] {
            -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg)
        }
        .sk-folding-cube[_ngcontent-c0] .sk-cube4[_ngcontent-c0] {
            -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg)
        }
        .sk-folding-cube[_ngcontent-c0] .sk-cube2[_ngcontent-c0]:before {
            -webkit-animation-delay: .3s;
            animation-delay: .3s
        }
        .sk-folding-cube[_ngcontent-c0] .sk-cube3[_ngcontent-c0]:before {
            -webkit-animation-delay: .6s;
            animation-delay: .6s
        }
        .sk-folding-cube[_ngcontent-c0] .sk-cube4[_ngcontent-c0]:before {
            -webkit-animation-delay: .9s;
            animation-delay: .9s
        }
        @-webkit-keyframes sk-foldCubeAngle {
            0%,
            10% {
                -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
                opacity: 0
            }
            25%,
            75% {
                -webkit-transform: perspective(140px) rotateX(0);
                transform: perspective(140px) rotateX(0);
                opacity: 1
            }
            100%,
            90% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0
            }
        }
        @keyframes sk-foldCubeAngle {
            0%,
            10% {
                -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
                opacity: 0
            }
            25%,
            75% {
                -webkit-transform: perspective(140px) rotateX(0);
                transform: perspective(140px) rotateX(0);
                opacity: 1
            }
            100%,
            90% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0
            }
        }
        .pagination[_ngcontent-c3] {
            width: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 32px
        }
        .pagination[_ngcontent-c3] .step[_ngcontent-c3] {
            width: 30px;
            height: 30px
        }
        .pagination[_ngcontent-c3] .step[_ngcontent-c3]>span[_ngcontent-c3] {
            width: 100%;
            height: 100%;
            background: 0 0;
            cursor: pointer;
            display: block
        }
        .pagination[_ngcontent-c3] .step.disabled[_ngcontent-c3] {
            opacity: .5
        }
        .pagination[_ngcontent-c3] .step.left[_ngcontent-c3] {
            background: url(/assets/img/left-arrow-button.svg) center center/24px no-repeat;
            margin-right: 24px
        }
        .pagination[_ngcontent-c3] .step.right[_ngcontent-c3] {
            background: url(/assets/img/right-arrow-button.svg) center center/24px no-repeat;
            margin-left: 24px
        }
        .pagination[_ngcontent-c3] .dots[_ngcontent-c3] {
            color: #848c8a;
            font-family: GothamPro, serif;
            font-size: .875rem;
            margin: 0 16px
        }
        .pagination[_ngcontent-c3] .pages[_ngcontent-c3] {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }
        .pagination[_ngcontent-c3] .pages[_ngcontent-c3] .page[_ngcontent-c3] {
            width: 40px;
            height: 40px;
            border-radius: 1px;
            color: #1a1e1d;
            font-size: .875rem;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }
        @media screen and (max-width:550px) {
            .pagination[_ngcontent-c3] .step[_ngcontent-c3] {
                width: 25px;
                height: 25px
            }
            .pagination[_ngcontent-c3] .step.left[_ngcontent-c3] {
                margin-right: 12px
            }
            .pagination[_ngcontent-c3] .step.right[_ngcontent-c3] {
                margin-left: 12px
            }
            .pagination[_ngcontent-c3] .dots[_ngcontent-c3] {
                margin: 0 8px
            }
            .pagination[_ngcontent-c3] .pages[_ngcontent-c3] .page[_ngcontent-c3] {
                width: 35px;
                height: 35px
            }
        }
        .pagination[_ngcontent-c3] .pages[_ngcontent-c3] .page.active[_ngcontent-c3] {
            background-color: #3bb397;
            color: #fff
        }
        .coming__soon[_ngcontent-c3] {
            font-family: "GothamPro Light", serif;
            font-size: .75rem
        }
        .toast[_ngcontent-c3],
        .toast-error[_ngcontent-c3],
        .toast-info[_ngcontent-c3],
        .toast-success[_ngcontent-c3],
        .toast-warning[_ngcontent-c3] {
            background-color: #1a1e1d!important
        }
        #toast-container[_ngcontent-c3]>div[_ngcontent-c3] {
            border-radius: 0!important
        }
        .toast-message[_ngcontent-c3],
        .toast-message[_ngcontent-c3] a[_ngcontent-c3],
        .toast-message[_ngcontent-c3] label[_ngcontent-c3] {
            color: #fff!important;
            font-size: .75rem!important;
            line-height: 20px!important
        }
        .about__boxes-title[_ngcontent-c3] {
            color: #202121;
            font-size: 1.125rem;
            margin-bottom: .8rem
        }
        .complete__course-boxes-title[_ngcontent-c3] {
            color: #202121;
            font-size: 1.125rem;
            min-width: 175px
        }
        @media screen and (max-width:640px) {
            .complete__course-boxes-title[_ngcontent-c3] {
                min-width: auto;
                margin-bottom: 8px
            }
        }
        .margin--top[_ngcontent-c3] {
            margin-top: 48px
        }
        .create__quiz-content-title[_ngcontent-c3] {
            color: #202121;
            font-size: 2rem;
            line-height: 40px;
            letter-spacing: 0;
            margin: 0 0 2.5rem
        }
        @media screen and (max-width:900px) {
            .create__quiz-content-title[_ngcontent-c3] {
                margin-bottom: 2rem
            }
        }
        @media screen and (max-width:640px) {
            .create__quiz-content-title[_ngcontent-c3] {
                font-size: 1.625rem;
                line-height: 32px
            }
        }
        .create__quiz-content-name-input[_ngcontent-c3] {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 3rem;
            border-radius: 1px 0 0 1px;
            border: 1px solid #3bb497;
            background-color: #fff;
            outline: 0;
            padding: 0 1rem
        }
        .create__quiz-content-advanced-item-head-i[_ngcontent-c3] {
            width: 1.0625rem;
            height: 1.0625rem;
            background: url(/assets/img/information.svg) center center/contain no-repeat
        }
        .about__second-content-title[_ngcontent-c3] {
            color: #202121;
            font-size: 2rem;
            letter-spacing: 0;
            line-height: 40px;
            margin: 0
        }
        @media screen and (max-width:640px) {
            .about__second-content-title[_ngcontent-c3] {
                font-size: 1.625rem;
                line-height: 32px;
                margin-bottom: 2rem
            }
        }
        .add__circle[_ngcontent-c3] {
            margin-left: 8px;
            width: 24px;
            height: 24px;
            border: 1px solid #848c8a;
            border-radius: 100%;
            background: url(/assets/img/add.svg) center center/55% no-repeat;
            cursor: pointer
        }
        .close__tab[_ngcontent-c3] {
            width: 17px;
            height: 17px;
            cursor: pointer;
            background: url(/assets/img/upload-close-black.svg) center center/contain no-repeat
        }
        .container__title[_ngcontent-c3] {
            color: #1a1e1d;
            font-size: 1.125rem;
            margin-bottom: 16px;
            text-align: center
        }
        .about__title[_ngcontent-c3],
        .settings__title[_ngcontent-c3] {
            color: #1a1e1d;
            font-size: 1.5rem;
            line-height: 32px;
            margin-bottom: 16px
        }
        .about__title.with--info[_ngcontent-c3] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap
        }
        .about__title.with--info[_ngcontent-c3]>span[_ngcontent-c3]:not(:first-child) {
            margin-left: 4px
        }
        .course__box[_ngcontent-c3] {
            width: 100%;
            background-color: #fff;
            padding: 40px;
            -webkit-box-shadow: 0 1px 0 #d2d8d7;
            box-shadow: 0 1px 0 #d2d8d7;
            border-radius: 1px;
            margin-bottom: 48px
        }
        .course__box[_ngcontent-c3] .box--child[_ngcontent-c3]:not(:last-child) {
            display: block;
            margin-bottom: 48px
        }
        .course__box.industry--box[_ngcontent-c3] {
            padding: 0;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none
        }
        .course__box.without--padding[_ngcontent-c3] {
            padding: 0
        }
        .course__box__wrapper[_ngcontent-c3] {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin-bottom: 16px
        }
        @media screen and (max-width:640px) {
            .course__box[_ngcontent-c3] {
                padding: 16px
            }
            .course__box__wrapper[_ngcontent-c3] {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column
            }
            .auth-wrapper[_ngcontent-c3] .figures-wrapper[_ngcontent-c3] {
                display: none
            }
        }
        .course__box__wrapper[_ngcontent-c3] .title[_ngcontent-c3] {
            color: #1a1e1d;
            font-size: 1.5rem
        }
        .industry__fieldset[_ngcontent-c3] {
            border: none;
            outline: 0;
            margin: 0;
            padding: 0
        }
        .industry__fieldset.active[_ngcontent-c3] {
            opacity: .5
        }
        *[_ngcontent-c3] {
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }
        a[_ngcontent-c3] {
            text-decoration: none
        }
        .auth-wrapper[_ngcontent-c3] {
            position: relative;
            width: 100%;
            height: 100vh;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }
        .auth-wrapper[_ngcontent-c3] input[_ngcontent-c3] {
            line-height: 50px
        }
        .auth-wrapper.reverse-page[_ngcontent-c3] {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse
        }
        .auth-wrapper[_ngcontent-c3] .figures-wrapper[_ngcontent-c3] {
            position: absolute;
            width: 100vw;
            height: 100%;
            top: 0;
            overflow: hidden
        }
        .auth-wrapper[_ngcontent-c3] .figures-wrapper_login[_ngcontent-c3] {
            right: 0
        }
        .auth-wrapper[_ngcontent-c3] .figures-wrapper_auth[_ngcontent-c3] {
            left: 0
        }
        .auth-wrapper[_ngcontent-c3] .figures-wrapper__container[_ngcontent-c3] {
            width: 100%;
            height: 100%;
            position: relative
        }
        .container-flapper[_ngcontent-c3],
        .image-container[_ngcontent-c3],
        .page-retreat[_ngcontent-c3] {
            max-width: 36.25rem
        }
        @media screen and (max-width:1700px) {
            .container-flapper[_ngcontent-c3],
            .image-container[_ngcontent-c3],
            .page-retreat[_ngcontent-c3] {
                max-width: 30rem
            }
        }
        @media screen and (max-width:1500px) {
            .container-flapper[_ngcontent-c3],
            .image-container[_ngcontent-c3],
            .page-retreat[_ngcontent-c3] {
                max-width: 39.875rem
            }
        }
        @media screen and (max-width:1100px) {
            .container-flapper[_ngcontent-c3],
            .image-container[_ngcontent-c3],
            .page-retreat[_ngcontent-c3] {
                max-width: 21.875rem
            }
            .image-container[_ngcontent-c3] {
                padding: 0 8px
            }
        }
        @media screen and (max-width:800px) {
            .container-flapper[_ngcontent-c3],
            .image-container[_ngcontent-c3],
            .page-retreat[_ngcontent-c3] {
                max-width: 17.1875rem
            }
        }
        .container-flapper[_ngcontent-c3] {
            width: 100%
        }
        @media screen and (max-width:640px) {
            .auth-wrapper[_ngcontent-c3] {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                height: auto;
                display: block
            }
            .container-flapper[_ngcontent-c3],
            .image-container[_ngcontent-c3],
            .page-retreat[_ngcontent-c3] {
                max-width: 100%
            }
            .container-flapper[_ngcontent-c3] {
                display: none
            }
        }
        .image-container[_ngcontent-c3] {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 20;
            overflow: hidden
        }
        .image-container_login[_ngcontent-c3] {
            right: 0
        }
        /*.image-container_auth[_ngcontent-c3]{
	left:0
}*/
        @media screen and (max-width:640px) {
            .image-container[_ngcontent-c3] {
                padding: 64px 8px;
                height: auto;
                position: static
            }
            .image-container_auth[_ngcontent-c3] {
                padding: 112px 8px;
                height: auto;
                position: static
            }
        }
        .image-container[_ngcontent-c3] .container-wrapper[_ngcontent-c3] {
            width: 100%;
            height: 100%;
            position: relative;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: 0 0
        }
        .image-container-title[_ngcontent-c3] {
            max-width: 100%;
            color: #fff;
            letter-spacing: 0;
            line-height: 48px;
            margin: 0 0 32px;
            text-align: center
        }
        @media screen and (max-width:1100px) {
            .image-container-title[_ngcontent-c3] {
                font-size: 2.375rem
            }
        }
        @media screen and (max-height:700px) {
            .image-container-title[_ngcontent-c3] {
                margin-bottom: 16px
            }
        }
        .image-container-text[_ngcontent-c3] {
            width: 100%;
            max-width: 350px;
            color: #fff;
            font-size: 2.125rem;
            letter-spacing: 0;
            line-height: 36px;
            text-align: center;
            margin-bottom: 32px
        }
        @media screen and (max-width:1100px) {
            .image-container-text[_ngcontent-c3] {
                font-size: 2.125rem;
                max-width: 320px
            }
        }
        @media screen and (max-width:900px) {
            .image-container-text[_ngcontent-c3] {
                font-size: 2.125rem;
                max-width: 240px
            }
        }
        @media screen and (max-height:700px) {
            .image-container-text[_ngcontent-c3] {
                font-size: 2.125rem;
                margin-bottom: 24px
            }
        }
        .image-container-btn[_ngcontent-c3] {
            font-weight: bold;
            height: 54px;
            min-width: 223px;
            border: none;
            border-radius: 30px;
            color: #1a1e1d;
            font-size: .875rem;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            line-height: 100%;
            -webkit-box-shadow: 0 12px 24px rgba(34, 51, 49, .13);
            box-shadow: 0 12px 24px rgba(34, 51, 49, .13);
            background: #fff;
            width: 40%
        }
        .login__figure[_ngcontent-c3] {
            position: absolute;
            background-color: rgba(255, 255, 255, .08);
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }
        .login__figure.first[_ngcontent-c3] {
            width: 70px;
            height: 140px;
            top: 25%;
            right: 45%;
            -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg)
        }
        .login__figure.second[_ngcontent-c3] {
            width: 250px;
            height: 250px;
            border-radius: 100%;
            top: 13%;
            left: -4%
        }
        @media screen and (max-width:1100px) {
            .login__figure.second[_ngcontent-c3] {
                width: 3.9375rem;
                height: 3.9375rem
            }
        }
        .login__figure.third[_ngcontent-c3] {
            width: 0;
            height: 0;
            border-top: 95px solid transparent;
            border-bottom: 78px solid transparent;
            border-left: 180px solid rgba(255, 255, 255, .08);
            bottom: 8%;
            left: 11%;
            background-color: transparent;
            -webkit-transform: rotate(-46deg);
            transform: rotate(-46deg)
        }
        .login__figure.four[_ngcontent-c3] {
            width: 75px;
            height: 150px;
            top: 55%;
            left: -1%;
            -webkit-transform: rotate(-75deg);
            transform: rotate(-75deg)
        }
        .login__figure.five[_ngcontent-c3] {
            width: 250px;
            height: 250px;
            bottom: 17%;
            right: 4%;
            border-radius: 100%
        }
        @media screen and (max-width:1100px) {
            .login__figure.third[_ngcontent-c3] {
                border-top: 48px solid transparent;
                border-bottom: 39px solid transparent;
                border-left: 90px solid rgba(255, 255, 255, .08)
            }
            .login__figure.five[_ngcontent-c3] {
                width: 63px;
                height: 63px;
                bottom: 15%;
                right: 25%
            }
        }
        @media screen and (max-height:700px) {
            .login__figure.third[_ngcontent-c3] {
                border-top: 48px solid transparent;
                border-bottom: 39px solid transparent;
                border-left: 90px solid rgba(255, 255, 255, .08)
            }
            .login__figure.five[_ngcontent-c3] {
                width: 63px;
                height: 63px;
                right: 24%
            }
        }
        .login__figure.six[_ngcontent-c3] {
            width: 0;
            height: 0;
            border-top: 60px solid transparent;
            border-bottom: 70px solid transparent;
            border-left: 160px solid rgba(255, 255, 255, .08);
            top: 9%;
            right: 24%;
            background-color: transparent;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg)
        }
        @media screen and (max-width:640px) {
            .login__figure.first[_ngcontent-c3] {
                display: none
            }
            .login__figure.second.registration_second[_ngcontent-c3] {
                top: 23%
            }
            .login__figure.five[_ngcontent-c3],
            .login__figure.third[_ngcontent-c3] {
                display: none
            }
            .login__figure.six[_ngcontent-c3] {
                top: 7%;
                right: 0
            }
            .login__figure.six.registration_six[_ngcontent-c3] {
                top: 23%;
                right: -10%
            }
            .login__figure.seven[_ngcontent-c3] {
                display: none
            }
        }
        .login__figure.seven[_ngcontent-c3] {
            width: 140px;
            height: 140px;
            bottom: 4%;
            right: -2.1875rem;
            border-radius: 100%
        }
        .login__content[_ngcontent-c3] {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 0 8px
        }
        .login__content-title[_ngcontent-c3] {
            max-width: 100%;
            color: #202121;
            letter-spacing: 0;
            line-height: 64px;
            margin: 0 0 16px;
            text-align: center
        }
        @media screen and (max-width:1500px) {
            .login__content-title[_ngcontent-c3] {
                line-height: 58px
            }
        }
        @media screen and (max-width:1100px) {
            .login__content-title[_ngcontent-c3] {
                line-height: 58px
            }
        }
        @media screen and (max-width:640px) {
            .login__content[_ngcontent-c3] {
                padding: 128px 16px 64px
            }
            .login__content-title[_ngcontent-c3] {
                font-size: 2.25rem;
                line-height: 52px
            }
        }
        @media screen and (max-height:700px) {
            .login__content-title[_ngcontent-c3] {
                line-height: 52px;
                margin-bottom: 8px
            }
        }
        .login__content-text[_ngcontent-c3] {
            max-width: 100%;
            color: #555a59;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0;
            margin-bottom: 16px
        }
        .login__form[_ngcontent-c3] {
            width: 100%;
            max-width: 460px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0 auto
        }
        .login__form.submited[_ngcontent-c3] input.ng-invalid[_ngcontent-c3]:focus {
            border: 1px solid rgba(255, 99, 71, .4)
        }
        .login__form.submited[_ngcontent-c3] input.ng-valid[_ngcontent-c3]:focus {
            border: 1px solid rgba(59, 180, 151, .4)
        }
        .login__form-title[_ngcontent-c3] {
            color: #555a59;
            font-size: 14px;
            text-transform: uppercase;
            background-color: #fff;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 8px
        }
        .login__form-title-wrapper[_ngcontent-c3] {
            width: 100%;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-bottom: 8px;
            max-width: 685px
        }
        .login__form-input[_ngcontent-c3] {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 48px;
            background: #eef5f3;
            outline: 0;
            border: none;
            font-size: 14px;
            border-radius: 20px;
            color: #88908e;
            padding: 0 16px;
            -webkit-transition: background .3s;
            transition: background .3s
        }
        .login__form-input[_ngcontent-c3]:focus {
            background: #fff;
            border: 1px solid #e1eae7
        }
        .login__form-btn[_ngcontent-c3] {
            width: 235px;
            height: 54px;
            background-color: #f9876d;
            border-radius: 30px;
            outline: 0;
            border: none;
            cursor: pointer;
            -webkit-display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: #fff;
            font-weight: bold;
            line-height: 16px;
            text-align: center;
            margin: 32px 0;
            -webkit-transition: .3s;
            transition: .3s
        }
        @media screen and (max-height:700px) {
            .login__form-btn[_ngcontent-c3] {
                margin: 21px 0
            }
        }
        .login__forgotten-pass[_ngcontent-c3] {
            color: #585858;
            font-family: GothamPro, serif;
            font-size: 1rem;
            letter-spacing: 0;
            line-height: 32px;
            border-bottom: 1px solid rgba(88, 88, 88, .2);
            cursor: pointer;
            height: 1.875rem
        }
        .page-logo[_ngcontent-c3] {
            position: absolute;
            top: 25px;
            left: 25px;
            width: 140px;
            height: 45px;
            cursor: pointer;
            z-index: 30;
            background-size: 31px
        }
        .page-logo_auth.login_toggle[_ngcontent-c3],
        .page-logo_login[_ngcontent-c3] {
            background: url(/assets/img/diprella_logo.svg) center center no-repeat
        }
        .page__close[_ngcontent-c3] {
            width: 31px;
            height: 31px;
            background-size: 31px;
            position: absolute;
            top: 25px;
            right: 25px;
            cursor: pointer;
            z-index: 30
        }
        .page__close_login[_ngcontent-c3] {
            background: url(/assets/img/login_close.svg) center center no-repeat
        }
        @media screen and (max-width:640px) {
            .page__close_login[_ngcontent-c3] {
                background: url(/assets/img/login_close_grey.svg) center center no-repeat;
                margin-top: 4px
            }
        }
        .page__close_auth.toggle--close[_ngcontent-c3] {
            background: url(/assets/img/login_close.svg) center center no-repeat
        }
        @media screen and (max-width:640px) {
            .page__close_auth[_ngcontent-c3] {
                background: url(/assets/img/login_close.svg) center center no-repeat
            }
        }
        .sign__up-pass-wrapper[_ngcontent-c3] {
            position: relative
        }
        @media screen and (max-width:1050px) {
            .login__form-title-wrapper[_ngcontent-c3] {
                max-width: 460px
            }
            .sign__up-pass-wrapper[_ngcontent-c3] {
                width: 100%;
                max-width: 460px
            }
        }
        .sign__up-pass-eye[_ngcontent-c3] {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: 14px auto;
            right: 16px;
            width: 26px;
            height: 16px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2226%22 height%3D%2217%22 viewBox%3D%220 0 26 17%22 style%3D%22opacity%3A .5%22%3E %3Cpath fill%3D%22%23555a59%22 d%3D%22M25.85 8.55C21.77 3.41 17.38.88 12.8 1 5.42 1.22.34 8.28.13 8.58l-.03.05-.02.03-.03.09-.02.04-.02.08-.01.06v.14l.01.06.02.08.02.04.03.09.02.03.03.05c.21.3 5.29 7.36 12.67 7.58h.34c4.46 0 8.73-2.54 12.71-7.55.1-.13.15-.29.15-.45a.74.74 0 0 0-.15-.45zm-13 7.04C7.11 15.43 2.73 10.48 1.54 9c1.19-1.48 5.57-6.43 11.31-6.59 4-.11 7.89 2.11 11.59 6.59-3.7 4.48-7.58 6.71-11.59 6.59z%22%2F%3E%3Cpath fill%3D%22%23555a59%22 d%3D%22M13 5a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 7a3 3 0 0 1-3-3 3 3 0 0 1 3-3 3 3 0 0 1 3 3 3 3 0 0 1-3 3z%22%2F%3E%3C%2Fsvg%3E") center center/contain no-repeat;
            -webkit-transition: background .3s;
            transition: background .3s
        }
        @media screen and (max-width:950px) {
            .sign__up-pass-eye[_ngcontent-c3] {
                margin: 16px auto
            }
        }
        .sign__up-pass-eye.active[_ngcontent-c3],
        .sign__up-pass-eye[_ngcontent-c3]:hover {
            -webkit-transition: background .3s;
            transition: background .3s;
            background: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2226%22 height%3D%2217%22 viewBox%3D%220 0 26 17%22%3E%3Cpath fill%3D%22%233BB497%22 d%3D%22M25.85 8.55C21.77 3.41 17.38.88 12.8 1 5.42 1.22.34 8.28.13 8.58l-.03.05-.02.03-.03.09-.02.04-.02.08-.01.06v.14l.01.06.02.08.02.04.03.09.02.03.03.05c.21.3 5.29 7.36 12.67 7.58h.34c4.46 0 8.73-2.54 12.71-7.55.1-.13.15-.29.15-.45a.74.74 0 0 0-.15-.45zm-13 7.04C7.11 15.43 2.73 10.48 1.54 9c1.19-1.48 5.57-6.43 11.31-6.59 4-.11 7.89 2.11 11.59 6.59-3.7 4.48-7.58 6.71-11.59 6.59z%22%2F%3E%3Cpath fill%3D%22%233BB497%22 d%3D%22M13 5a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 7a3 3 0 0 1-3-3 3 3 0 0 1 3-3 3 3 0 0 1 3 3 3 3 0 0 1-3 3z%22%2F%3E%3C%2Fsvg%3E") center center/contain no-repeat
        }
        .auth__form-fieldset[disabled][_ngcontent-c3] {
            opacity: .5
        }
        .auth__form-fieldset-input[_ngcontent-c3] {
            border-radius: 25px;
            width: auto;
            padding: 0;
            margin: 0;
            outline: 0;
            border: none;
            -webkit-transition: border .2s;
            transition: border .2s;
            position: relative
        }
        @media screen and (max-width:1050px) {
            .auth__form-fieldset-input[_ngcontent-c3] {
                width: 100%;
                max-width: 460px
            }
        }
        .auth__form-fieldset-input.with--margin[_ngcontent-c3] {
            margin-bottom: 20px
        }
        .error__box[_ngcontent-c3] {
            display: block;
            position: relative
        }
        .registration__form[_ngcontent-c3] {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }
        .registration__form.submited[_ngcontent-c3] input.ng-invalid[_ngcontent-c3]:focus {
            border: 1px solid rgba(255, 99, 71, .4)
        }
        .registration__form.submited[_ngcontent-c3] input.ng-valid[_ngcontent-c3]:focus {
            border: 1px solid rgba(59, 180, 151, .4)
        }
        @media screen and (max-width:400px) {
            .registration__form[_ngcontent-c3] {
                width: 100%
            }
        }
        .registration__logo_login_toggle[_ngcontent-c3] {
            background: url(/assets/img/diprella_logo.svg) center center no-repeat
        }
        .registration__input[_ngcontent-c3] {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 32.875rem;
            max-width: 100%;
            height: 48px;
            background: #eef5f3;
            outline: 0;
            border: none;
            font-size: 14px;
            border-radius: 25px;
            color: #88908e;
            padding: 0 24px;
            -webkit-transition: background .3s;
            transition: background .3s
        }
        .registration__input[_ngcontent-c3]:focus {
            background: #fff;
            border: 1px solid #e1eae7
        }
        .registration__input.margin_input[_ngcontent-c3] {
            margin-right: 18px
        }
        .registration__input-box[_ngcontent-c3] {
            width: 100%;
            height: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }
        @media screen and (max-width:1050px) {
            .registration__input[_ngcontent-c3] {
                width: 100%;
                max-width: 460px
            }
            .registration__input.margin_input[_ngcontent-c3] {
                margin-right: 0
            }
            .registration__input-box[_ngcontent-c3] {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                margin-bottom: 0
            }
        }
        @media screen and (max-width:640px) {
            .error__box[_ngcontent-c3] {
                margin: 0
            }
            .registration__content[_ngcontent-c3] {
                padding: 64px 16px
            }
            .registration__image-container[_ngcontent-c3] {
                padding: 112px 8px 64px
            }
            .terms[_ngcontent-c3] {
                margin-left: 0
            }
        }
        #terms[_ngcontent-c3] {
            display: none
        }
        #terms[_ngcontent-c3]:checked+.terms[_ngcontent-c3]:before {
            position: absolute;
            top: -1px;
            left: -1px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            content: "";
            font-size: 1.125rem;
            color: #fff;
            width: 1.25rem;
            height: 1.25rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: 0;
            border: none;
            background: url(/assets/img/icon_checked.png) center center/16px 12px no-repeat #3bb497;
            padding: 1px 0 0 1px
        }
        .terms[_ngcontent-c3] {
            padding-left: 2.75rem;
            position: relative;
            border-radius: 1px;
            min-height: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }
        .terms[_ngcontent-c3]:before {
            background-color: #fff;
            position: absolute;
            top: -1px;
            left: -1px;
            content: '';
            width: 1.25rem;
            height: 1.25rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: 0;
            border: 1px solid #3bb497
        }
        .terms__wrapper[_ngcontent-c3] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            font-size: .8125rem;
            color: #141716;
        }
        @media screen and (max-width:640px) {
            .terms__wrapper[_ngcontent-c3] {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 100%;
            }
        }
        .terms__link[_ngcontent-c3] {
            color: #f9876d;
            cursor: pointer;
            outline: 0
        }
        .animate-text[_ngcontent-c3] {
            position: relative;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end
        }
        @media screen and (max-width:640px) {
            .animate-text[_ngcontent-c3] {
                height: auto
            }
        }
        .container-text__wrapper[_ngcontent-c3] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0
        }
        @media screen and (max-width:640px) {
            .container-text__wrapper[_ngcontent-c3] {
                position: static
            }
        }
        .content-wrapper[_ngcontent-c3] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }
        .hidden-element[_ngcontent-c3] {
            display: none
        }
        .auth__form-fieldset[_ngcontent-c3] {
            width: 100%;
            border: none;
            outline: 0;
            padding: 0
        }
        .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        .fb_reposition {
            overflow: hidden;
            position: relative
        }
        .fb_invisible {
            display: none
        }
        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal
        }
        .fb_reset>div {
            overflow: hidden
        }
        @keyframes fb_transform {
            from {
                opacity: 0;
                transform: scale(.95)
            }
            to {
                opacity: 1;
                transform: scale(1)
            }
        }
        .fb_animate {
            animation: fb_transform .3s forwards
        }
        .fb_dialog {
            background: rgba(82, 82, 82, .7);
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        .fb_dialog_advanced {
            border-radius: 8px;
            padding: 10px
        }
        .fb_dialog_content {
            background: #fff;
            color: #373737
        }
        .fb_dialog_close_icon {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
            cursor: pointer;
            display: block;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 17px;
            width: 15px
        }
        .fb_dialog_mobile .fb_dialog_close_icon {
            left: 5px;
            right: auto;
            top: 5px
        }
        .fb_dialog_padding {
            background-color: transparent;
            position: absolute;
            width: 1px;
            z-index: -1
        }
        .fb_dialog_close_icon:hover {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
        }
        .fb_dialog_close_icon:active {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
        }
        .fb_dialog_iframe {
            line-height: 0
        }
        .fb_dialog_content .dialog_title {
            background: #6d84b4;
            border: 1px solid #365899;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin: 0
        }
        .fb_dialog_content .dialog_title>span {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
            float: left;
            padding: 5px 0 7px 26px
        }
        body.fb_hidden {
            height: 100%;
            left: 0;
            margin: 0;
            overflow: visible;
            position: absolute;
            top: -10000px;
            transform: none;
            width: 100%
        }
        .fb_dialog.fb_dialog_mobile.loading {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 10001
        }
        .fb_dialog.fb_dialog_mobile.loading.centered {
            background: none;
            height: auto;
            min-height: initial;
            min-width: initial;
            width: auto
        }
        .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
            width: 100%
        }
        .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
            background: none
        }
        .loading.centered #fb_dialog_loader_close {
            clear: both;
            color: #fff;
            display: block;
            font-size: 18px;
            padding-top: 20px
        }
        #fb-root #fb_dialog_ipad_overlay {
            background: rgba(0, 0, 0, .4);
            bottom: 0;
            left: 0;
            min-height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 10000
        }
        #fb-root #fb_dialog_ipad_overlay.hidden {
            display: none
        }
        .fb_dialog.fb_dialog_mobile.loading iframe {
            visibility: hidden
        }
        .fb_dialog_mobile .fb_dialog_iframe {
            position: sticky;
            top: 0
        }
        .fb_dialog_content .dialog_header {
            background: linear-gradient(from(#738aba), to(#2c4987));
            border-bottom: 1px solid;
            border-color: #1d3c78;
            box-shadow: white 0 1px 1px -1px inset;
            color: #fff;
            font: bold 14px Helvetica, sans-serif;
            text-overflow: ellipsis;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
            vertical-align: middle;
            white-space: nowrap
        }
        .fb_dialog_content .dialog_header table {
            height: 43px;
            width: 100%
        }
        .fb_dialog_content .dialog_header td.header_left {
            font-size: 12px;
            padding-left: 5px;
            vertical-align: middle;
            width: 60px
        }
        .fb_dialog_content .dialog_header td.header_right {
            font-size: 12px;
            padding-right: 5px;
            vertical-align: middle;
            width: 60px;
        }
        .fb_dialog_content .touchable_button {
            background: linear-gradient(from(#4267B2), to(#2a4887));
            background-clip: padding-box;
            border: 1px solid #29487d;
            border-radius: 3px;
            display: inline-block;
            line-height: 18px;
            margin-top: 3px;
            max-width: 85px;
            padding: 4px 12px;
            position: relative;
        }
        .fb_dialog_content .dialog_header .touchable_button input {
            background: none;
            border: none;
            color: #fff;
            font: bold 12px Helvetica, sans-serif;
            margin: 2px -12px;
            padding: 2px 6px 3px 6px;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
        }
        .fb_dialog_content .dialog_header .header_center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            text-align: center;
            vertical-align: middle;
        }
        .fb_dialog_content .dialog_content {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
            border: 1px solid #4a4a4a;
            border-bottom: 0;
            border-top: 0;
            height: 150px;
        }
        .fb_dialog_content .dialog_footer {
            background: #f5f6f7;
            border: 1px solid #4a4a4a;
            border-top-color: #ccc;
            height: 40px;
        }
        #fb_dialog_loader_close {
            float: left;
        }
        .fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
        }
        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
            visibility: hidden;
        }
        #fb_dialog_loader_spinner {
            animation: rotateSpinner 1.2s linear infinite;
            background-color: transparent;
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
        }
        @keyframes rotateSpinner {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        .fb_iframe_widget {
            display: inline-block;
            position: relative;
        }
        .fb_iframe_widget span {
            display: inline-block;
            position: relative;
            text-align: justify;
        }
        .fb_iframe_widget iframe {
            position: absolute;
        }
        .fb_iframe_widget_fluid_desktop,
        .fb_iframe_widget_fluid_desktop span,
        .fb_iframe_widget_fluid_desktop iframe {
            max-width: 100%;
        }
        .fb_iframe_widget_fluid_desktop iframe {
            min-width: 220px;
            position: relative;
        }
        .fb_iframe_widget_lift {
            z-index: 1;
        }
        .fb_iframe_widget_fluid {
            display: inline;
        }
        .fb_iframe_widget_fluid span {
            width: 100%;
        }