@media screen and (max-width:1000px) {
    #signUpForm {
        overflow-y: scroll
    }
    #program_id label {
        margin: 0 6px!important
    }
    .terms__wrapper[_ngcontent-c3] {
        margin-left: 8%!important;
        width: 100%
    }
    #signUpSubmit {
        margin-botton: 15px
    }
}

@media screen and (max-width:812px) {
    #largeThumbnail {
        height: 316px
    }
    .mgmines {
        margin-top: 0!important
    }
    .group-btn-slider .btn-prev,
    .group-btn-slider .btn-next {
        top: auto;
        bottom: 20px;
        width: 40px;
        height: 40px;
        line-height: 32px
    }
    .group-btn-slider .btn-prev {
        left: 50%;
        margin-left: -50px
    }
    .group-btn-slider .btn-next {
        right: 50%;
        margin-right: -50px
    }
    .best-staff {
        padding-bottom: 150px
    }
    .best-staff .group-btn-slider {
        position: relative;
        top: 80px
    }
    .best-staff .group-btn-slider .btn-prev,
    .best-staff .group-btn-slider .btn-next {
        top: auto;
        bottom: 20px;
        width: 40px;
        height: 40px;
        line-height: 32px
    }
    .best-staff .group-btn-slider .btn-prev {
        left: 50%;
        margin-left: -50px
    }
    .best-staff .group-btn-slider .btn-next {
        right: 50%;
        margin-right: -50px
    }
    .edugate-layout-1 .edugate-content .btn {
        bottom: 9px
    }
    .wdt input {
        width: 18.875rem!important
    }
    .wdt input#contact {
        width: 68%!important
    }
    #log_regs header {
        display: none
    }
    .about_video video {
        position: absolute;
        z-index: 88;
        left: 28px;
        top: 6%;
        width: 72%;
        bottom: 0
    }
    header .header-topbar .group-sign-in {
        margin-left: 16px
    }
    .progress-bar-number {
        text-align: center;
        font-weight: 900;
        font-size: 43px
    }
    p,
    a,
    label,
    span {
        font-size: 12px
    }
    .edu-ab .edu-ab-content ul li .circle-icon::before {
        width: 36%
    }
    .dsk_offer .item-course {
        margin-bottom: 26px
    }
    .home_page .slider-banner {
        min-height: 358px
    }
    .home_page .slider-item {
        height: 358px!important
    }
    .dsk_offer {
        display: none
    }
    .mob_offer {
        display: block
    }
    .flip-card {
        background-color: transparent;
        width: 200px;
        height: 200px;
        perspective: 1000px;
        margin: 10px auto
    }
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform .6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
        border-radius: 50%
    }
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg)
    }
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden
    }
    .flip-card-front {
        padding: 49px;
        vertical-align: middle;
        background-color: #ef5734;
        color: #000;
        border-radius: 50%
    }
    .flip-card-front img {
        width: 100px!important;
        height: 100px!important
    }
    .flip-card-back {
        background-color: #242c42;
        color: #fff;
        transform: rotateY(180deg);
        padding: 35px 6px;
        border-radius: 50%
    }
    .flip-card-back a {
        color: #ef5734;
        font-size: 19px
    }
    .flip-card-back i {
        margin-left: 7px
    }
    .flip-card-back .name-course {
        color: #ef5734;
        font-size: 12px;
        margin-top: 0
    }
    .why-choose-us .why-choose-us-wrapper-top .why-choose-us-wrapper {
        padding: 10px 0;
        padding-right: 25%
    }
    .why-choose-us .why-choose-us-wrapper-top .why-choose-us-wrapper p {
        color: #d1d8eb;
        line-height: 25px;
        margin-bottom: 18px;
        font-size: 14px
    }
    .why-choose-us .section-icon:nth-child(2) {
        padding-left: 0
    }
    .why-choose-us .section-icon:last-child {
        padding-left: 0
    }
    .why-choose-us .section-icon p {
        font-size: 17px
    }
    #side_bar {
        min-height: 100%
    }
    .pricing_dt p {
        font-size: 10px
    }
    .pricing_dt i {
        color: #ef5734;
        width: 18px!important
    }
}

.pad_0 {
    padding: 0!important
}

@media screen and (max-width:768px) {
    #pricingSection .pricing-tagline {
        line-height: 16px;
        margin-bottom: 16px;
        text-align: center;
        padding-left: 0;
        margin-top: 13px
    }
    #pricingSection .row {
        margin-right: 0;
        margin-left: 0
    }
    #pricingSection {
        padding: 57px 0 0!important;
        text-align: center
    }
    #pricingSection .col {
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 194px!important;
        float: left;
        min-height: 1px;
        padding: 4px
    }
    .col_h_fixed {
        height: 362px
    }
    .col_h_fixed .h3 {
        font-size: 17px
    }
    .main-menu-btn .group-button {
        display: block;
        margin: 10px 0 0
    }
    .mob_log {
        display: none;
        line-height: 0;
        padding: 4px 0 0
    }
    .inp span {
        width: 75px!important
    }
    .desktop_log_menu .btn.btn-transition-3 {
        margin: 4px
    }
    .desktop_log_menu .btn.btn-transition-3:hover {
        color: #fff
    }
    .desktop_log_menu {
        display: none
    }
    .pricing_dt p {
        font-size: 14px
    }
    .pricing_dt i {
        color: #ef5734;
        width: 18px!important
    }
    .wdt .select2 {
        margin: 12px 3px!important
    }
    .pte_main #exampleModalLong .close {
        margin: -22px;
        opacity: 9
    }
    #side_move .button-group {
        text-align: center
    }
    #categories {
        margin-top: 50px;
        margin-left: 0!important;
        border: 2px solid rgba(0, 0, 0, .05);
        padding: 10px 10px 20px!important;
        background: 0 0;
        position: relative
    }
    #log_regs header {
        display: none
    }
    .pass_reset .method-item {
        width: 350px
    }
    .top_h {
        border: none;
        float: left;
        width: 100%;
        padding: 7px 15px 0
    }
    .about_video video {
        position: absolute;
        z-index: 88;
        left: 28px;
        top: 6%;
        width: auto;
        bottom: 0
    }
    #side_bar {
        min-height: 100%
    }
    header .header-topbar .group-sign-in {
        margin-left: 16px
    }
    .dsk_offer {
        display: none
    }
    .mob_offer {
        display: block
    }
    .flip-card {
        background-color: transparent;
        width: 200px;
        height: 200px;
        perspective: 1000px;
        margin: 10px auto
    }
    .flip-card-inner {
        border-radius: 50%;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform .6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2)
    }
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg)
    }
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden
    }
    .flip-card-front {
        padding: 49px;
        border-radius: 50%;
        vertical-align: middle;
        background-color: #ef5734;
        color: #000
    }
    .flip-card-front img {
        width: 100px!important;
        height: 100px!important
    }
    .flip-card-back {
        background-color: #242c42;
        color: #fff;
        transform: rotateY(180deg);
        padding: 35px 6px;
        border-radius: 50%
    }
    .flip-card-back a {
        color: #ef5734;
        font-size: 19px
    }
    .flip-card-back i {
        margin-left: 7px
    }
    .flip-card-back .name-course {
        color: #ef5734;
        font-size: 12px;
        margin-top: 0
    }
    header .header-topbar .group-sign-in {
        margin-left: 16px
    }
    .progress-bar-number {
        font-size: 37px
    }
    p,
    a,
    label,
    span {
        font-size: 12px
    }
    .edu-ab .edu-ab-content ul li .circle-icon::before {
        background-color: transparent
    }
    .why-choose-us .section-icon:nth-child(2) {
        padding-left: 0
    }
    .why-choose-us .section-icon:last-child {
        padding-left: 0
    }
    .why-choose-us .section-icon p {
        font-size: 16px;
        padding-left: 0
    }
    .top_h .logo {
        display: block
    }
    .nav-subscribe-wrapper {
        height: auto;
        padding: 29px 0 30px
    }
    .about_video {
        padding: 18px 14px 123px
    }
    .about_video img {
        max-width: 100%
    }
    .calcDiv {
        position: inherit!important
    }
    .tbl_data {
        padding-left: 0
    }
    .compare-per-user .table-body {
        height: auto
    }
    .blogsSearch {
        margin: 0 0 35px
    }
}

@media screen and (max-width:767px) {
    #calculator-rupee-popup .modal-dialog {
        width: 354px;
        margin: 100px auto
    }
    #calculator-rupee-popup .calculator_pricing_packages .box {
        margin: 15px 0 0!important;
        padding: 0
    }
    .blogsSearch {
        margin: 0 0 35px
    }
    .nbp .blogsSearch .form-control {
        width: 141px!important
    }
    header .header-main .logo {
        width: 58%!important;
        line-height: 53px!important
    }
    .tbl_data {
        padding-left: 0
    }
    .calcDiv {
        position: inherit!important
    }
    .col_h_fixed .h3 {
        font-size: 17px
    }
    #pricingSection .row {
        margin-right: 0;
        margin-left: 0
    }
    #pricingSection .pricing-tagline {
        line-height: 16px;
        margin-bottom: 16px;
        text-align: center;
        padding-left: 0;
        margin-top: 13px
    }
    #pricingSection {
        padding: 57px 0 0!important;
        text-align: center
    }
    #pricingSection .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 100%!important;
        float: left;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center
    }
    .col_h_fixed {
        height: auto!important
    }
    .mob_log .btn.btn-transition-3:hover {
        color: #fff
    }
    .inp span {
        width: 75px!important
    }
    .mob_log {
        display: block;
        line-height: 0;
        padding: 4px 0 0;
        float: right
    }
    .desktop_log_menu .btn.btn-transition-3:hover {
        color: #fff
    }
    .navbar-toggle {
        padding: 6px 10px;
        margin-top: 6px!important;
        margin-left: 10px!important;
        background: #ef5734
    }
    .navbar-toggle a:hover {
        color: #ef5734!important
    }
    .desktop_log_menu .btn.btn-transition-3 {
        margin: 4px
    }
    .desktop_log_menu {
        display: none!important
    }
    .pricing_dt p {
        font-size: 10px
    }
    .pricing_dt i {
        color: #ef5734;
        width: 18px
    }
    .about_video {
        padding: 18px 14px 123px
    }
    header .header-main .edugate-dropdown-menu-1 {
        border-bottom: none!important
    }
    header .header-main .edugate-dropdown-menu-1 li:last-child>a {
        border-bottom: none
    }
    .wdt .select2 {
        margin: 12px 3px!important
    }
    #log_regs .terms__wrapper[_ngcontent-c3] {
        width: 91%
    }
    #log_regs .term_cond {
        padding: 15px 0 0
    }
    #log_regs input,
    select,
    textarea {
        margin: 4px 0
    }
    .pte_main #exampleModalLong .close {
        margin: -22px;
        opacity: 9
    }
    #overseasVerifyOTP .modal-dialog {
        width: 330px;
        margin: 100px auto
    }
    #overseasVerifyOTP .firebaseui-recaptcha-wrapper {
        display: block;
        margin: 0 auto;
        padding-bottom: 8px
    }
    .top_h .logo {
        display: block
    }
    .top_h {
        padding: 0 15px!important
    }
    #side_move {
        margin-top: 0!important
    }
    #side_move .button-group {
        text-align: center
    }
    #categories {
        margin-top: 50px;
        margin-left: 0!important;
        border: 2px solid rgba(0, 0, 0, .05);
        padding: 10px 10px 20px!important;
        background: 0 0;
        position: relative
    }
    #forgotPassModal .modal-dialog {
        width: 326px
    }
    #forgotPassModal .modal-body form {
        padding: 0 0 23px
    }
    .hero_img {
        padding: 9px 0
    }
    .hero_img .slider-caption .text-info-2 {
        font-size: 16px
    }
    .hero_img .slider-caption .text-info-1 {
        font-size: 14px
    }
    .hero_img .slider-caption .text-info-3 {
        margin: 0 0 5px;
        font-size: 15px
    }
    .hero_img .btn {
        padding: 0 22px;
        margin-bottom: 10px
    }
    .hero_img .text-info-1 span {
        font-size: 15px;
        margin: 0 4px
    }
    .progress-bars .progress-bar-wrapper .group-btn-slider {
        display: none
    }
    .why-choose-us .why-choose-us-wrapper-bottom .section-icon i {
        width: 100%;
        margin: 0
    }
    .pass_reset .method-item {
        width: 350px
    }
    body {
        display: block!important
    }
    .tooltip_m {
        display: block!important
    }
    .tooltip_m #tooltip {
        display: block!important;
        left: 0%!important;
        top: 15%;
        position: inherit!important;
        margin: 11px 0 17px
    }
    #tooltip {
        display: none!important
    }
    #contactPart {
        width: 78%
    }
    .input-group-append {
        float: right;
        width: 39px;
        height: 35px;
        text-align: center;
        padding: 5px;
        position: absolute;
        z-index: 11;
        right: 0
    }
    .footer-top .footer-top-wrapper .footer-top-left .footer-top-focus {
        text-align: center!important
    }
    .nav-subscribe-wrapper .nav-subscribe-left .subscribe-text {
        text-align: center!important;
        margin: 20px 0;
        padding: 0
    }
    .nav-subscribe-wrapper {
        height: auto;
        padding: 25px 0 30px
    }
    .patner .input-group>.custom-file,
    .input-group>.custom-select,
    .input-group>.form-control {
        width: 100%!important
    }
    .patner .my_branch {
        margin-left: -15px!important
    }
    .patner .my_info {
        margin-left: -15px!important
    }
    .patner .my_business {
        margin-left: -15px!important
    }
    #log_regs header {
        display: none
    }
    #log_regs .container {
        margin-top: 0!important
    }
    #program_id label {
        margin: 0 12px!important
    }
    .logo_main_top {
        background-image: url(https://www.fourmodules.com/portal/assets/img/logo_loginp_m.png)!important;
        height: 51px!important
    }
    .container {
        box-shadow: none!important
    }
    footer {
        position: inherit!important
    }
    #mobLogShow,
    #mobRegShow {
        padding: 3px 19px;
        border: #fff 1px solid;
        line-height: 21px;
        border-radius: 0
    }
    #mobLogShow,
    #mobRegShow:hover {
        background: #fff
    }
    .sp_t_log {
        padding: 37px 0!important
    }
    #log_regs form {
        padding: 37px 0
    }
    #log_regs .logo {
        width: 179px;
        float: left;
        display: block
    }
    #mobLogShow,
    .sign-up-container {
        display: none
    }
    #log_regs .container_d {
        display: block;
        width: 100%;
        overflow: scroll;
        min-height: 100%;
        position: inherit;
        padding-bottom: 18px
    }
    .tab_btn {
        width: 115px;
        float: right;
        margin: 22px 0
    }
    .container_d .sign-in-container {
        left: 0;
        width: 100%
    }
    .container_d .form-container {
        width: 100%;
        position: inherit
    }
    .container_d .overlay-container {
        width: 100%;
        display: none
    }
    .container_d .overlay-panel {
        width: 100%
    }
    .container_d .sign-up-container {
        opacity: 20
    }
    .container_d form {
        height: auto
    }
    .sign-up-container {
        display: none
    }
    .logo_main_top {
        position: inherit!important
    }
    #log_regs footer {
        margin-top: 26px;
        padding: 6px 10px
    }
    .about_video video {
        position: absolute;
        z-index: 88;
        left: 28px;
        top: 6%;
        width: auto;
        bottom: 0
    }
    #side_bar {
        min-height: 100%
    }
    header .header-topbar .email {
        margin-right: 0
    }
    .group-button button:first-child {
        margin-right: 0;
        margin-bottom: 8px
    }
    .group-button button:last-child {
        margin-right: 0;
        margin-bottom: 8px
    }
    .header-topbar .email {
        width: 50%;
        float: left;
        text-align: center
    }
    .header-topbar .topbar-left {
        width: 100%
    }
    .header-topbar .hotline {
        width: 50%;
        float: left;
        text-align: center
    }
    .header-topbar .topbar-right {
        width: 100%;
        text-align: center
    }
    header .header-main {
        padding: 5px 0
    }
    .choose-course .icon-circle {
        width: 192px;
        height: 192px
    }
    .choose-course .icon-circle .icon-background {
        width: 192px;
        height: 176px;
        margin-left: -97px;
        padding: 56px 0
    }
    .choose-course .icon-circle {
        width: 193px!important;
        height: 193px!important;
        margin-top: 26px
    }
    .edugate-tabs li {
        padding: 0 8px
    }
    .g_d .edugate-layout-3 {
        width: 100%;
        height: 100%
    }
    .edugate-layout-3.news-gird {
        margin-bottom: 0
    }
    header .header-topbar .email .topbar-icon,
    header .header-topbar .hotline .topbar-icon {
        color: #ef5734;
        margin-right: 0;
        font-size: 16px
    }
    .staff-item2.customize {
        width: 100%
    }
    .intro-edu .intro-title {
        padding-top: 24px
    }
    .pte_main .section-padding {
        padding: 27px 0 0
    }
    .pte_main .layout-left {
        float: none;
        margin-bottom: 29px
    }
    .nav-subscribe-wrapper .nav-subscribe-left,
    .nav-subscribe-wrapper .nav-subscribe-right {
        display: table-row;
        text-align: center
    }
    .pte_main .layout-right .staff-item {
        min-height: 500px;
        height: 100%;
        margin-bottom: 77px
    }
    .sidebar {
        margin-top: 50px;
        margin-bottom: 50px
    }
    .footer-main .hyperlink {
        line-height: 28px
    }
    .footer-main .hyperlink .hyper-right {
        font-size: 13px;
        text-align: center
    }
    .foot_link {
        float: left;
        width: 100%;
        text-align: center
    }
    .intro-edu-wrapper .col-md-3 {
        margin-top: 0
    }
    .abs .staff-item2 .staff-item-wrapper {
        width: 100%;
        height: auto
    }
    .abs .staff-item2.customize {
        height: auto
    }
    .intro-edu {
        padding: 44px 0
    }
    .header-main .navigation {
        width: 100%;
        top: 65px;
        padding: 15px!important
    }
    header .header-main .navigation {
        top: 58px
    }
    .edu-table-responsive .col-2,
    .edu-table-responsive .col-3 {
        width: 98px;
        min-width: auto
    }
    .edu-table-responsive .col-1 {
        width: auto;
        min-width: auto;
        text-align: left
    }
    header .header-topbar .group-sign-in {
        margin-left: 16px
    }
    .footer-top-wrapper .footer-top-left {
        text-align: center
    }
    .footer-top .footer-top-wrapper .footer-top-right {
        display: table-row;
        text-align: center
    }
    .home_page .why-choose-us {
        margin: 0
    }
    .why-choose-us .section-icon:nth-child(2) {
        padding-left: 10px
    }
    .why-choose-us .section-icon:last-child {
        padding-left: 0
    }
    .dsk_offer {
        display: none
    }
    .mob_offer {
        display: block
    }
    .flip-card {
        background-color: transparent;
        width: 200px;
        height: 200px;
        perspective: 1000px;
        margin: 24px auto
    }
    .flip-card-inner {
        border-radius: 50%;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform .6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2)
    }
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg)
    }
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden
    }
    .flip-card-front {
        padding: 49px;
        border-radius: 50%;
        vertical-align: middle;
        background-color: #ef5734;
        color: #000
    }
    .flip-card-front img {
        width: 100px!important;
        height: 100px!important
    }
    .flip-card-back {
        border-radius: 50%;
        background-color: #242c42;
        color: #fff;
        transform: rotateY(180deg);
        padding: 50px 20px
    }
    .flip-card-back a {
        color: #ef5734;
        font-size: 19px
    }
    .flip-card-back .name-course {
        color: #ef5734;
        font-size: 12px;
        margin-top: 0
    }
    .flip-card-back i {
        margin-left: 7px
    }
    p,
    a,
    label,
    span {
        font-size: 11px
    }
    .why-choose-us .why-choose-us-wrapper-top .why-choose-us-wrapper p {
        font-size: 12px
    }
}

@media screen and (max-width:6) {}

@media screen and (max-width:736px) {
    .about_video video {
        position: absolute;
        z-index: 88;
        left: 106px;
        top: 5%;
        width: 72%;
        bottom: 0
    }
}

@media screen and (max-width:720px) {
    .tbl_data {
        padding-left: 0
    }
    .calcDiv {
        position: inherit!important
    }
    .col_h_fixed .h3 {
        font-size: 15px
    }
    #pricingSection .row {
        margin-right: 0;
        margin-left: 0
    }
    #pricingSection .pricing-tagline {
        line-height: 16px;
        margin-bottom: 16px;
        text-align: center;
        padding-left: 0;
        margin-top: 13px
    }
    #pricingSection {
        padding: 57px 0 0!important;
        text-align: center
    }
    #pricingSection .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 100%!important;
        float: left;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center
    }
    .mob_log {
        display: block;
        line-height: 0;
        padding: 4px 0 0;
        float: right
    }
    .mob_log .btn.btn-transition-3:hover {
        color: #fff
    }
    .inp span {
        width: 75px!important
    }
    .pricing_dt p {
        font-size: 14px
    }
    .pricing_dt i {
        color: #ef5734;
        width: 18px!important
    }
    header .header-main .edugate-dropdown-menu-1 {
        border-bottom: none!important
    }
    header .header-main .edugate-dropdown-menu-1 li:last-child>a {
        border-bottom: none
    }
    .wdt .select2 {
        margin: 12px 3px!important
    }
    .nav-subscribe-wrapper {
        height: auto;
        padding: 25px 0 30px
    }
    .pte_main #exampleModalLong .close {
        margin: -22px;
        opacity: 9
    }
    .why-choose-us .why-choose-us-wrapper-bottom .section-icon i {
        width: 100%;
        margin: 0
    }
    #log_regs .logo {
        width: 179px;
        float: left;
        display: block;
        padding: 11px 0
    }
    #log_regs header {
        display: none
    }
    .why-choose-us .why-choose-us-wrapper-top .background-girl-1 {
        display: none
    }
    header .header-topbar .group-sign-in {
        margin-left: 16px
    }
    .progress-bar-number {
        text-align: center;
        font-weight: 900;
        font-size: 43px
    }
    p,
    a,
    label,
    span {
        font-size: 12px
    }
    .edu-ab .edu-ab-content ul li .circle-icon::before {
        width: 36%
    }
    .dsk_offer .item-course {
        margin-bottom: 26px
    }
    .home_page .slider-banner {
        min-height: 358px
    }
    .home_page .slider-item {
        height: 358px!important
    }
    .dsk_offer {
        display: none
    }
    .mob_offer {
        display: block
    }
    .flip-card {
        background-color: transparent;
        width: 200px;
        height: 200px;
        perspective: 1000px;
        margin: 10px auto
    }
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform .6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
        border-radius: 50%
    }
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg)
    }
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden
    }
    .flip-card-front {
        padding: 49px;
        vertical-align: middle;
        background-color: #ef5734;
        color: #000;
        border-radius: 50%
    }
    .flip-card-front img {
        width: 100px!important;
        height: 100px!important
    }
    .flip-card-back {
        background-color: #242c42;
        color: #fff;
        transform: rotateY(180deg);
        padding: 54px 6px
    }
    .flip-card-back a {
        color: #ef5734;
        font-size: 19px
    }
    .flip-card-back .name-course {
        color: #ef5734;
        font-size: 12px;
        margin-top: 0
    }
    .flip-card-back i {
        margin-left: 7px
    }
    .why-choose-us .why-choose-us-wrapper-top .why-choose-us-wrapper {
        text-align: center;
        padding: 10px 0;
        padding-right: 0
    }
    .why-choose-us .why-choose-us-wrapper-top .why-choose-us-wrapper p {
        color: #d1d8eb;
        line-height: 25px;
        margin-bottom: 18px;
        font-size: 14px
    }
    .why-choose-us .section-icon p {
        font-size: 15px
    }
    #side_bar {
        min-height: 100%
    }
    .about_video video {
        position: absolute;
        z-index: 88;
        left: 72px;
        top: 6%;
        width: 79%;
        bottom: 0
    }
    #side_move .button-group {
        text-align: center
    }
    #categories {
        margin-top: 50px;
        margin-left: 0!important;
        border: 2px solid rgba(0, 0, 0, .05);
        padding: 10px 10px 20px!important;
        background: 0 0;
        position: relative
    }
}

@media screen and (max-width:480px) {
    .about_video video {
        position: absolute;
        z-index: 88;
        left: 28px;
        top: 5%;
        width: 86%;
        bottom: 0
    }
    .btn .btn-transition-3 {
        margin-bottom: 10px!important
    }
    .group-button button:first-child {
        margin-right: 0!important
    }
    .why-choose-us .why-choose-us-wrapper-bottom .section-icon i {
        width: 100%;
        margin: 0
    }
}

@media screen and (max-width:1024px) {
    .tooltip-pt {
        top: -67px;
        left: 37%;
        position: relative
    }
    #calculator-rupee-popup .nav-subscribe-wrapper {
        padding: 0
    }
    #calculator-rupee-popup .errorSpan {
        margin-bottom: 4px;
        font-size: 9px!important
    }
    #calculator-rupee-popup .heading-popup-rupe .bdcls {
        border: 1px solid #ccc;
        padding: 4px 0
    }
    #calculator-rupee-popup .nav-subscribe-left .labelh {
        font-size: 11px
    }
    #calculator-rupee-popup .nav-subscribe-left .rupe,
    span {
        font-size: 11px!important
    }
    #calculator-rupee-popup .nav-subscribe-left .totalamt {
        font-size: 11px
    }
    .close span {
        font-size: 2.5rem
    }
    #calculator-rupee-popup .totl {
        font-size: 11px;
        width: 50px
    }
    #calculator-rupee-popup .totalpy {
        width: 155px
    }
    #calculator-rupee-popup .totalpy span {
        width: 92px
    }
    #calculator-rupee-popup .modal-dialog {
        width: 374px;
        margin: 100px auto
    }
    #calculator-rupee-popup .row {
        margin-right: -10px;
        margin-left: -10px
    }
    .blogsSearch {
        margin: 0 0 35px
    }
    header .header-main .navigation .nav-links li .main-menu {
        margin: 0 9px!important
    }
    header .header-main .logo {
        width: 31%
    }
    header .header-main .logo .header-logo img {
        max-width: 111px
    }
    .gifimg_flag {
        width: 69px
    }
    #calculator-rupee-popup .box {
        margin: 1px 0;
        height: 43px
    }
    #pricingSection .hidden-sm {
        display: block!important
    }
    #pricingSection .hidden-xs {
        display: none!important
    }
    #pricingSection {
        padding: 65px 0!important;
        text-align: center
    }
    .calcDiv {
        position: inherit!important
    }
    #pricingSection .container {
        width: auto!important
    }
    #pricingSection .col_h_fixed .h3 {
        font-size: 15px
    }
    .RightPackage .col {
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 194px!important;
        float: left;
        min-height: 1px;
        padding: 4px!important
    }
    .RightPackage .edition-head {
        text-align: center;
        border: 0;
        border-radius: 0;
        padding: 0 4px;
        font-weight: 700;
        font-size: 13px!important
    }
    .col_h_fixed {
        height: 409px!important
    }
    .desktop_log_menu {
        display: block
    }
    #calculator-rupee-popup .calculator_pricing_packages .nav-subscribe-left {
        float: unset
    }
    .main-menu-btn .group-button {
        display: block
    }
    .mgmines {
        margin-top: 0!important
    }
    #log_regs header {
        display: none
    }
    #log_regs .foot_link {
        float: left;
        margin: 10px 0;
        width: 100%
    }
    #log_regs {
        margin: 2px 0
    }
    #log_regs footer p {
        color: #4f5b6b;
        margin: 10px 0;
        float: right;
        letter-spacing: 0;
        width: 100%;
        padding: 11px 0 0;
        margin: 0
    }
    header .header-topbar .socials a {
        color: #a7abb3;
        padding: 0 3px
    }
    .hero_img {
        padding: 10px 0
    }
    .why-choose-us .section-icon h2 {
        font-size: 21px
    }
    .why-choose-us .section-icon p {
        font-size: 12px
    }
    .footer-top .footer-top-wrapper .footer-top-left {
        text-align: center
    }
    .footer-top .footer-top-wrapper .footer-top-right {
        text-align: center
    }
    #side_move {
        margin-top: 0!important
    }
    #side_move .button-group {
        text-align: center
    }
    .foot_link {
        float: right;
        width: 100%
    }
    .footer-main .hyperlink .hyper-right {
        text-align: center;
        padding: 20px
    }
    .footer-main .hyperlink {
        line-height: 19px
    }
    .staff-item2.customize {
        display: block;
        width: 100%;
        background-color: #fafafa;
        height: 100%;
        margin: auto
    }
    .abs .staff-item2 .staff-item-wrapper {
        width: 100%;
        height: auto
    }
    #categories {
        margin-top: 50px;
        margin-left: 0!important
    }
    .progress-bar-number {
        font-size: 37px
    }
    .group-btn-slider .btn-prev,
    .group-btn-slider .btn-next {
        top: auto;
        bottom: 20px;
        width: 40px;
        height: 40px;
        line-height: 32px
    }
    .group-btn-slider .btn-prev {
        left: 50%;
        margin-left: -50px
    }
    .group-btn-slider .btn-next {
        right: 50%;
        margin-right: -50px
    }
    .best-staff {
        padding-bottom: 150px
    }
    .best-staff .group-btn-slider {
        position: relative;
        top: 80px
    }
    .best-staff .group-btn-slider .btn-prev,
    .best-staff .group-btn-slider .btn-next {
        top: auto;
        bottom: 20px;
        width: 40px;
        height: 40px;
        line-height: 32px
    }
    .best-staff .group-btn-slider .btn-prev {
        left: 50%;
        margin-left: -50px
    }
    .best-staff .group-btn-slider .btn-next {
        right: 50%;
        margin-right: -50px
    }
}

@media only screen and (min-device-width:667px) and (max-device-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2) {
    .header-topbar .topbar-left {
        width: 50%
    }
    .header-topbar .topbar-right {
        width: 50%;
        text-align: right
    }
}

.footerBreak {
    display: none
}

@media screen and (max-width:360px) {}

@media screen and (max-width:620px) {
    .footerBreak {
        display: block
    }
}

@media screen and (max-width:1280px) {}