/*-----------------------------------------------------------------------------------

    Template Name: Resthyip - HYIP & Financial Investment HTML Template
    Template URI: http://rockstheme.com
    Description: This is html5 template
    Author: Rocks_theme
    Author URI: http://rockstheme.com
    Version: 1.0

-----------------------------------------------------------------------------------*/

    /*-----------------------------------------------------------------------------------  
     CSS INDEX
    ===================

    1. Theme Default CSS (body, link color, section etc)
    2. Header Top Area
    2.1 Header Bottom Area 
    2.2. Sticky Header Area
    2.3. Mobile Menu Area
    3. Intro Area
    4. Count Area
    5. About area
    6. Investment plan area
    7. why choose  Area
    8.Deposite History area
    9. Affiliate area
    10.overview Area
    11. Blog Area
    12. payment card Area Css
    13. Footer Area
    14. Home 03  CSS
    15. Breadcumbs Area
    16.How to Area
    17.How to work Area
    18.Reviews Area Css
    19. FAQ  Area
    20. Team area
    21. Blog Sidebar Area
    22. Blog Details
    23. Contact Us page
    24. Login And Register page
    25. Animation  CSS


`-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  Google Fonts
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap');


/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {
    height: 100%;
}
.floatleft {
    float:left;
}
.floatright {
    float:right;
}
.alignleft {
    float:left;
    margin-right:15px;
    margin-bottom: 15px;
}
.alignright {
    float:right;
    margin-left:15px;
    margin-bottom: 15px;
}
.aligncenter {
    display:block;
    margin:0 auto 15px;
}
a:focus {
    outline:0px solid;
}
img {
    max-width:100%;
    width: auto;
    height:auto;
}
.fix {
    overflow:hidden;
}
p {
    font-size: 110%;
    line-height: 150%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    margin:0 0 15px;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    margin: 0 0 15px;
    color: #fff;
    font-weight: 700;
}
h1{
    font-size: 48px;
    line-height: 50px;
        
}
h2{
    font-size: 180%;
    line-height: 120%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    margin:0 0 15px;
    color: black;
        
}
h3{
    font-size: 175%;
    line-height: 155%px;
        
}
h4{
    font-size: 170%px;
    line-height: 155%;
        
}
h5{
    font-size: 165%;
    line-height: 155%;
        
}
h6{
    font-size: 160%;
    line-height: 155%;
        
}
a {
    transition: all 0.3s ease 0s;
    text-decoration:none;
}
a:hover {
  color: #1ba8c6;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
a:hover, a:focus {
    color: #e3e1e7;
    text-decoration: none;
}
body {
    background: #fff none repeat scroll 0 0;
    color: #e3e1e7;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    overflow-x: hidden;

}
#scrollUp {
    bottom: 40px;
    font-size: 20px;
    line-height: 48px;
    right: 30px;
    width: 44px;
    background-color: #1ba8c6;
    color: #fff;
    text-align: center;
    height: 44px;
    border-radius: 3px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
#scrollUp:hover {
    bottom: 45px;
    transition-duration: 500ms;
}
.clear{
    clear:both;
}
ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
input, select, textarea, input[type="text"], input[type="date"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"], button, button[type="submit"] {
    -moz-appearance: none;
    box-shadow: none !important;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
div#preloader { 
    position: fixed;
    left: 0; 
    top: 0; 
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #390B72 url('img/logo/preloader.gif') no-repeat center center;
}
.navbar-collapse {
    padding-left: 0px;
}
::-moz-selection {
    background: #1ba8c6;
    text-shadow: none;
}
::selection {
    background: #1ba8c6;
    text-shadow: none;
}
.bg-color{
    background:#240255;
}
.bg-color2{
    background:#20024c;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.area-padding{
    padding: 50px 0px;
}
.area-padding-2{
    padding: 50px 0px 50px;
}
.section-headline {
    padding-bottom: 40px;
    position: relative;
}
.section-headline.review-head {
    padding-bottom: 20px;
}
.section-headline h3 {
    font-size: 40px;
    line-height: 46px;
}
.section-headline p {
    font-size: 16px;
    max-width: 510px;
    margin: 0px auto;
}
.mar-row{
    margin-top: 50px;
}
.color{
   color:#1ba8c6; 
}
/*--------------------------------*/
/*  2. Header top Area
/*--------------------------------*/
.topbar-left ul li {
    display: inline-block;
}
.topbar-area {
    background:#390B72;
}
.topbar-left ul li a {
    color: #c4d5f6;
    display: block;
    margin-right: 20px;
    padding: 11px 0;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.60px;
}
.topbar-left ul li a i {
    color: #1ba8c6;
    font-size: 16px;
    padding-right: 3px;
}
.topbar-left ul li:last-child a{
    margin-right:0px;
}
.topbar-right {
    float: right;
}
.topbar-right ul li {
    display: inline-block;
    position: relative;
}
.topbar-right ul li>ul>li{
    display: block;
}
.topbar-right>ul>li>a {
    color: #c4d5f6;
    display: block;
    padding: 12px 30px 10px 0px;
    position: relative;
    font-size: 15px;
}
.topbar-right ul li ul {
    background: #38117F;
    left: 0;
    position: absolute;
    top: 100%;
    width: 130px;
    z-index: 9999999;
    padding: 10px 15px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transition: all 0.4s ease 0s;
    visibility: hidden;
}
.topbar-right >ul>li > ul a {
    color: #c4d5f6;
    font-size: 13px;
}
.topbar-right ul li:hover ul {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}
.topbar-right> ul>li>a::after {
    color: #c4d5f6;
    content: "\e64b";
    font-family: themify;
    font-size: 12px;
    position: absolute;
    right:15px;
    top: 13px;
}
.topbar-right> ul>li:last-child a::after{
    display: none;
}
.topbar-right> ul>li:last-child a{
    padding-right: 0px;
}
.topbar-right img {
    margin-right: 5px;
}
/*----------------------------------------*/
/*  2.1 Header Bottom Area 
/*----------------------------------------*/
.header-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}
.header-area{
    background: rgba(58,20,132,0.90);
}
.logo {
    display: block;
}
.logo a {
    display: inline-block;
    height: auto;
    padding: 18px 0;
}
.center-bg {
    display: block;
    background: #fff;
    padding: 0px 20px 0px 0px;
}
.main-menu ul.navbar-nav li {
    float: left;
    position: relative;
}
.main-menu ul.navbar-nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #38117F;
    font-size: 16px;
    font-weight: 700;
    padding: 33px 15px;
    text-transform: uppercase;
    position: relative;
}
.main-menu ul.navbar-nav li a:hover{
    color: #1ba8c6;
}
.main-menu ul.navbar-nav li.active a:focus {
    color: #fff;
}
.main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #1ba8c6;
    position: relative;
    z-index: 9999999;
}
.navbar {
    border: medium none;
    margin-bottom: 0;
}
.navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.main-menu ul.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color:#fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}
.main-menu ul.nav li ul.sub-menu {
    background: #38117F;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 115%;
    transition: all 0.3s ease 0s;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    width: 220px;
    z-index: -99;
    padding: 15px 0px;
    border-radius: 3px;
    border-top: 2px solid #1ba8c6;
}
.pagess {
    position: relative;
}
.navbar.navbar-default {
    float: right;
}
.main-menu ul.nav li ul.sub-menu li {
    padding: 0;
    position: relative;
    width: 100%;
}
.main-menu ul.nav li:hover ul.sub-menu{
    top:100%;
    opacity:1;
    z-index:999;
    visibility:visible;
}
.main-menu ul.nav li ul.sub-menu li a {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 5px 30px;
}
.main-menu ul.nav li ul.sub-menu li a span{
    color: #1ba8c6;
}
.main-menu ul.nav li:hover ul.sub-menu li a:hover{
    color:#1ba8c6;
}
.header-right-link {
    float: right;
    width: 115px;
    padding: 30px 0px;
    margin-left: 60px;
    text-align: right;
}
.slice-btn {
    display: inline-block;
    padding: 0px 15px;
}
.slice-btn span {
    font-size: 20px;
    font-weight: 500;
    color: #3d5368;
    cursor: pointer;
    line-height: 28px;
}
.s-menu {
    padding: 10px 25px;
    border: 1px solid #1ba8c6;
    background: #1ba8c6;
    color: #fff;
    transition: 0.4s;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    text-transform: uppercase;
}
.s-menu:hover {
    border: 1px solid #1ba8c6;
    background:transparent;
    color:#1ba8c6;
    transition: 0.4s;
}
.header-area.stick  .header-right-link {
    padding: 29px 0px;
}
/*--------------------------------*/
/* 2.2. Sticky Header Area
/*--------------------------------*/
.header-area.stick {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    box-shadow: 0px 0px 3px #151b2c, -2px -2px 3px #151b2c;
    background: #fff;
}
.header-area.stick .logo a {
    display: inline-block;
    height: auto;
    padding: 17px 0;
}
.header-area.stick .main-menu ul.nav li ul.sub-menu li a {
    color: #fff;
    display: block;
    padding: 5px 15px;
}
/*----------------------------------------*/
/*  2.3. Mobile Menu Area
/*----------------------------------------*/
.mobile-menu-area {
    background: #38117F none repeat scroll 0 0;
    padding: 10px 0px ;
}
.mean-container .mean-bar::after {
    content: "";
    font-size: 21px;
    left: 5%;
    position: absolute;
    top: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.mean-container a.meanmenu-reveal:hover {
    color:#1ba8c6
}
.mean-container .mean-nav ul {
    list-style-type: none;
    margin: 20px 0px;
    padding: 0;
    width: 100%;
}
.mean-container .mean-nav ul li a {
    background: #38117F none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 13px 10px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    width: 90%;
}
.mean-nav ul li.mean-last {
    margin-bottom: 20px;
}
.mean-container .mean-nav ul li a.mean-expand {
    color: #fff;
    line-height: 17px;
}
.mean-container .mean-nav ul li {
    width: 99.7%;
}
/*----------------------------------------*/
/*  3. Intro Area
/*----------------------------------------*/
.intro-area{
    background: url();
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}
.display-table{
    width: 100%;
    height: 100%;
    display: table;
}
.display-table-cell{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.intro-content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    margin-top: -180px;
}
.slide-images {
    margin-top: 30px;
}
.slide-all-text {
    margin-top: 90px;
}
.slider-content {
    position: relative;
}
.layer-1 h2 {
    color: #fff;
    font-size: 60px;
    max-width: 740px;
    line-height: 70px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.layer-2 p {
    font-size: 20px;
    max-width: 610px;
}

.play{
    position: absolute;
    left: 0px;
}



.ready-btn {
    border: 1px solid #1ba8c6;
    background: #1ba8c6;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
    border-radius: 2px;
}
.ready-btn:hover{
    color: #1ba8c6;
    background: transparent;
    transition: all 0.4s ease 0s;
}
.bg-wrapper img {
    opacity: 0.9;
    z-index: 1;
    max-width: 1100px;
    
}
/*----------------------------------------*/
/* 4. Count Area
/*----------------------------------------*/
.counter-area{
   position: relative;
   overflow: hidden;
}
.single-fun {
    display: block;
    border: 1px solid #38117F;
    padding: 30px;
    background: #38117F;
    border-radius: 4px;
 
}
.counter-icon {
    font-size: 44px;
    color: #fff;
    background: #1ba8c6;
    margin-right: 20px;
    line-height: 78px;
    font-weight: 100;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    text-align: center;
}
.fun-text .counter {
    color: #fff;
    display: block;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    line-height: 40px;
}
.fun-text h4 {
    margin-bottom: 0px;
}
/*----------------------------------------*/
/*  5. About area
/*----------------------------------------*/
.about-image img {
    border-radius: 10px;
}
.about-content h3 {
    line-height: 40px;
    font-size: 32px;
    font-weight: 600;
    margin-top: -7px;
}
.about-details {
    overflow: hidden;
    display: block;


}
.single-about {
    display: block;
    margin-top: 30px;
}
.single-about a {
    font-size: 40px;
    color: #fff;
    float: left;
    line-height: 80px;
    width: 80px;
    height: 80px;
    border: 1px solid #1ba8c6;
    text-align: center;
    margin-right: 20px;
    border-radius: 3px;
    background:#1ba8c6; 
}
.icon-text {
    padding-left: 95px;

}
.icon-text h5 {
    margin-bottom: 5px;
    font-weight: 600;
}
.about-image {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-right: 30px;

}
.about-image img {
    border-radius: 5px;
}
.about-image::after {
    position: absolute;
    left:0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(58,20,132,0.45);
}
.video-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
     margin-top: -50px;
    text-align: center;
    z-index: 9;
}
.video-play.vid-zone {
    background: #38117F;
    border-radius: 100%;
    display: inline-block;
    font-size: 30px;
    height: 80px;
    line-height: 78px;
    width: 80px;
    overflow: hidden;
    transition: 0.4s;
    border: 1px solid #38117F;
}
.video-play.vid-zone i {
    color: #fff;
    margin-left: 5px;
    margin-top: 22px;
}
.video-play.vid-zone:hover {
    border: 1px solid #1ba8c6;
    background: #1ba8c6;
    color: #fff;
    transition: 0.4s;
}
.video-play.vid-zone:hover i{
    color: #fff;
}
/*----------------------------------------*/
/*  6. Investment plan area
/*----------------------------------------*/
.top-price-inner {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
span.users {
    color: #e3e1e7;
}
.prices {
    font-size: 40px;
    font-weight: 700;
    color: #1ba8c6;
    padding-right: 10px;
    line-height: 40px;
}
.pri_table_list {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    padding: 40px;
    position: relative;
    overflow: hidden;
    border: 1px solid #38117F;
    background: #38117F;
    margin-bottom: 30px;
}
.pricing-text{
    padding: 10px 0px;
    display: block;
}
.pri_table_list ol li {
    padding: 5px 0px;
    font-size: 15px;
}
.price-btn a {
    color: #fff;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 20px;
    background: #1ba8c6;
    display: inline-block;
    border:1px solid #1ba8c6;
}
.price-btn a:hover{
    background: transparent;
    color:#1ba8c6;
    border:1px solid #1ba8c6;
    transition: all 0.4s ease 0s;
}
.pri_table_list > h3 {
    color: #455454;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
}
.pri_table_list ol {
    list-style: outside none none;
}
.base {
    position: absolute;
    right: -52px;
    top: 24px;
    background: #1AA15F;
    width: 180px;
    text-align: center;
    height: 30px;
    line-height: 28px;
    color: #fff;
    transform: rotate(45deg);
}
/*--------------------------------*/
/* 7. why choose  Area
/*--------------------------------*/
.support-services {
    background: #38117F;
    position: relative;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 40px;
    overflow: hidden;
    border-radius: 3px;
    transition: 0.4s;
    z-index: 1;
    margin-bottom: 30px;
    border:1px solid #38117F;
}
.top-icon {
    position: absolute;
    right: 0px;
    font-size: 100px;
    line-height: 100px;
    color: #ddd;
    top: 0px;
    z-index: -1;
    opacity: 0.1;
    transition: 0.5s;
}
.support-services:hover .top-icon {
    right: 10px;
    font-size: 160px;
    line-height: 160px;
    color: #fff;
    top: 10px;
    opacity: 0.2;
    transition: 0.5s;
}
.support-images {
    font-size: 54px;
    color: #fff;
    line-height: 98px;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin-bottom: 30px;
}
.support-content h4 {
    font-size: 24px;
    text-transform: capitalize;
    color: #fff;
}
.support-content p {
    margin-bottom: 0px;
}
.support-services:hover::after {
    transition: 0.4s;
    opacity: 1;
}
.support-services:hover .support-images {
    transition: 0.4s;
    color: #fff;
     border: 1px solid #1ba8c6;
    background: #1ba8c6;
    transform: translateY(-5px);
}
.support-services:hover .support-content h4, .support-services:hover .support-content p {
    color: #fff;
}
/*----------------------------------------*/
/*  8.Deposite History area
/*----------------------------------------*/
.deposite-content {
    position: relative;
}
.deposite-content table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.deposite-content td, 
.deposite-content th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}
.deposite-content tr:nth-child(even) {
  background-color: #390A70;
}
.diposite-box {
    width: 90%;
    margin: 0 auto;
    background: #38117F;
    padding: 40px;
    margin-bottom: 50px;
    position: relative;
}
.diposite-box::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #1ba8c6;
}
.deposite-table td img {
    margin-right: 15px;
    border-radius: 50%;
}
.diposite-box h3 {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 25px;
    border-radius: 3px;
    color: #1ba8c6;
}
.diposite-box span {
    float: right;
    font-size: 48px;
    color: #1ba8c6;
}
/*----------------------------------------*/
/*  9. Affiliate area
/*----------------------------------------*/
.circle{
    height: 265px;
    width: 265px;
    border-radius: 50%;
    border: 1px solid blue;
    line-height: 265px;
    text-align: center;
    margin-top: 100
}
.single-proses {
    margin-top: 10px;
    margin-bottom: 30px;
    background: #38117F;
    padding: 60px 40px 40px;
    border-radius: 4px;
}
.proses-icon a {
    width: 100px;
    height: 100px;
    line-height: 97px;
    font-size: 36px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 30px;
    background:transparent; 
    border:1px solid #fff;
}
.proses-icon {
    position: relative;
    display: inline-block;
}
.point-view {
    width: 40px;
    height: 40px;
    line-height: 37px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: -10px;
}
.proses-text p {
    margin-bottom: 0px;
}
.point-blue .point-view{
    background: #0098D7;
    border: 1px solid #0098D7;
}
.point-orange .point-view{
    background: #F39D36;
    border: 1px solid #F39D36;
}
.point-green .point-view{
    background: #1AA15F;
    border: 1px solid #1AA15F;
}
.point-blue.proses-icon a{
    color:#0098D7;
}
.point-orange.proses-icon a{
    color:#F39D36;
}
.point-green.proses-icon a{
    color:#1AA15F;
}
.proses-text h4 {
    text-transform: capitalize;
    font-size: 22px;
    max-width: 270px;
    margin: 0px auto;
}
.single-proses:hover .point-orange a{
    background: #F39D36;
    border: 1px solid #F39D36;
    color: #fff;
}
.single-proses:hover .point-blue a{
    background: #0098D7;
    border: 1px solid #0098D7;
    color: #fff;
}
.single-proses:hover .point-green a{
    background: #1AA15F;
    border: 1px solid #1AA15F;
    color: #fff;
}
/*--------------------------------*/
/* 10.overview Area
/*--------------------------------*/
.overview-area {
    position: relative;
}
.overview-text {
    margin-top: 40px;
}
.overview-image {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.overview-text h3 {
    font-size: 40px;
    line-height: 46px;
}
.overview-text li {
    display: block;
    position: relative;
}
.overview-text ul li a {
    font-size: 15px;
    color: #c4d5f6;
    padding: 6px 0px 6px 35px;
    display: block;
}
.overview-images {
    margin-right: 30px;
}
.overview-text li::after {
    position: absolute;
    left: 0px;
    top: 6px;
    content: "\e64c";
    font-family: themify;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    background: #1ba8c6;
}
.overview-btn {
    padding: 10px 20px;
    border: 1px solid #1ba8c6;
    background: #1ba8c6;
    color: #fff;
    transition: 0.4s;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}
.overview-btn:hover{
    border: 1px solid #1ba8c6;
    background:transparent;
    color: #1ba8c6;
    transition: 0.4s;
}
/*----------------------------------------*/
/*  11. Blog Area
/*----------------------------------------*/
.blog-image{
  overflow: hidden;
    display: block;
}
.image-scale {
    position: relative;
    transform: scale(1.1);
    display: block;
    transition: 0.5s;
}
.image-scale::after{
    position: absolute;
    content: "";
    background: rgba(58,20,132,0.20);
    width: 100%;
    height: 100%;
    left:0;
    top:0;
}
.blog-content a h4 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    line-height: 30px;
    margin-bottom: 0px;
}
.blog-category span {
    text-transform: uppercase;
    font-size: 13px;
    color: #1ba8c6;
    font-weight: 700;
}
.blog-content {
    padding: 30px;
    border-top: none;
    background: #38117F;
}
.single-blog {
    position: relative;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.blog-category {
    margin-bottom: 10px;
}
.blog-title {
    margin-top: 10px;
    margin-bottom: 0px;
}
.blog-meta {
    position: relative;
}
.blog-meta span {
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
}
.admin-type i, .date-type i, .comments-type i {
    color: #1ba8c6;
    margin-right: 5px;
}
.single-blog:hover .image-scale {
  transform: scale(1);
  transition: 0.5s;
}
.single-blog:hover .image-scale::after{
    background: rgba(58,20,132,0.10);
}
.blog-grid-fast {
    margin-top: -30px;
}
.single-blog.b-mar{
    margin-top: 20px;
}
.blog-content a h4:hover{
    color:#1ba8c6;
}
/*----------------------------------------
  12. payments card Area Css
----------------------------------------*/
.single-card {
    padding: 15px 30px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 4px;
}
.single-card img {
    width: 100px !important;
}
.single-card a {
    text-align: center;
    display: inline-block;
}
/*----------------------------------------*/
/*  13. Footer Area
/*----------------------------------------*/
.footer1 {
    position: relative;
    overflow: hidden;
}
.footer-area {
    padding: 100px 0px;
    background: #2f0d6c;
}
.footer-content{
    overflow: hidden;
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-head p {
    color: #e3e1e7;
}
.logo-footer .footer-head p {
    color: #e3e1e7;
    margin-bottom: 0px;
}
.footer-head h4 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 600;
}
.footer-icons ul li {
    display: inline-block;

}
.footer-icons ul li a {
    text-align: center;
    margin-right: 3px;
    color: #e3e1e7;
    display: block;
    font-size: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid #1ba8c6;
    border-radius: 2px;
    background: #1ba8c6;

}
.footer-icons ul li a:hover{
    color: #1ba8c6;
    background: #38117F;
    transition: 0.4s;
}
.footer-tags {
    display: block;
    overflow: hidden;
}
.footer-tags li {
    float: left;
}
.footer-tags li a {
    color: #e3e1e7;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 5px;
}
.footer-icons {
    margin-top: 30px;
}
.footer-list {
    width: 50%;
    float: left;
}
.footer-contacts p span {
    color: #1ba8c6;
    font-weight: 700;
}
.subs-feilds {
    margin-top: 30px;
}
.suscribe-input {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    width: 95%;
}
.footer-content.logo-footer {
    padding-right: 30px;
}
.suscribe-input input {
    color: #e3e1e7;
    font-size: 15px;
    line-height: 24px;
    padding: 6px 15px;
    height: 46px;
    border-radius: 0;
    width: 64%;
    float: left;
    background: transparent;
    border-right: none;
}
.suscribe-input button {
    background: #1ba8c6;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 10px 5px;
    width: 36%;
    font-weight: 600;
    height: 46px;
    border: 1px solid #1ba8c6;
    transition: 0.4s;
}
.suscribe-input button:hover{
    color: #1ba8c6;
    background: #38117F;
     transition: 0.4s;
    border: 1px solid #1ba8c6;
}
.footer-list li a {
    color: #e3e1e7;
    padding: 7px 0px 7px 20px;
    display: block;
    position: relative;
    font-weight: 400;
}
.footer-list li a:first-child{
    padding-top: 0px;
}
.footer-list li a::after {
    position: absolute;
    content: "\e649";
    right: auto;
    top: 0px;
    left: 0;
    font-family: themify;
    font-size: 12px;
}
.footer-list li a:hover{
    color: #1ba8c6;
}
.footer-list li a:hover::after{
    color: #1ba8c6;
}
.footer-area-bottom {
    padding: 25px 0;
    background: #1d0647;
}
.copyright-text a:hover{
    text-decoration: underline;
    color:#1ba8c6;
}
.copyright-text a {
    color: #1ba8c6;
}
.copyright > p {
    margin-bottom: 0;
    color: #e3e1e7;
}
.copyright a {
    color: #1ba8c6;
}
/*----------------------------------------*/
/*  14. Home 03  CSS
/*----------------------------------------*/
.intro-area-2{
    background: url(img/background/slide1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro-area.intro-area-2{
    overflow: visible;
}
.intro-area-2 .bg-wrapper img {
    opacity: 0.6;
}
.intro-area-2 .layer-1 h2 {
    font-size: 64px;
    max-width: 770px;
    line-height: 74px;
    margin: 0px auto 20px;
}
.intro-area-2 .layer-2 p {
    font-size: 20px;
    max-width: 610px;
    margin: 0px auto 20px;
}
.intro-area-2 .slide-all-text {
    text-align: center;
    margin-top: 70px;
}
.single-fun {
    padding: 40px;
    background: #38117F;
}
.counter-area-2 .counter-icon {
    margin-right: 0px;
    float: none;
    display: inline-block;
    margin-bottom: 30px;
}
/*----------------------------------------*/
/*  15. Breadcumbs Area
/*----------------------------------------*/
.page-area {
    position: relative;
}
.page-area {
    background: url(img/background/bread-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcumb-overlay {
  position: absolute;
  background: rgba(58,20,132,0.90);
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}
.page-area .section-headline::after {
    display: none;
}
.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 260px 0px 130px;
}
.breadcrumb h2 {
    text-transform: uppercase;
    font-size: 42px;
    line-height: 50px;
}
.breadcrumb .section-headline {
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.breadcrumb ul li {
    display: inline-block;
    color: #fff;
    padding: 0px 10px 0px 20px;
    position: relative;
    font-size: 16px;
}
.breadcrumb ul li.home-bread{
    padding-left: 0px;
}
.breadcrumb ul li.home-bread::after {
    position: absolute;
    content: "\f105";
    font-family: fontAwesome;
    right: -10px;
    top: 0;
}
/*--------------------------------*/
/* 16.How to Area
/*--------------------------------*/
.how-to-area {
    padding: 100px 0px 160px;
}
.all-how{
    margin-bottom:60px;
}
.single-how {
    text-align: center;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
    padding: 40px 30px;
    border-radius: 5px;
    background: #38117F;
}
.how-wel {
    padding: 20px 0px 0px;
}
.how-img {
    position: relative;
    display: inline-block;
}
.big-icon img {
    border-radius: 50%;
}
.how-content p {
    margin-bottom: 0px;
}
.how-content h4 {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 0;
    padding: 0 0 10px;
    font-weight: 600;
}
.single-how.first-item,
.single-how.thired-item{
    position: relative;
    top: 60px;
}
.h-number {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: -10px;
    background:#1ba8c6; 
}
/*--------------------------------*/
/* 17.How to work Area
/*--------------------------------*/
.how-to-area {
    position: relative;
    padding: 100px 0px 160px;
}
.services-list {
    padding-right: 80px;
}
.all-services{
    margin-bottom:60px;
}
.well-services {
    text-align: center;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
    padding: 0px 15px;
}
.big-icon {
    font-size: 80px;
    display: inline-block;
    line-height: 90px;
    color: #fff;
    position: relative;
    width: 120px;
    height: 120px;
    z-index: 1;
}
.big-icon::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0px;
    background: url(img/about/shape-bg.png);
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.3;
}
.main-wel {
    padding: 20px 0px 0px;
}
.wel-content p {
    margin-bottom: 0px;
}
.wel-content h4 {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 0;
    padding: 0 0 10px;
    font-weight: 600;
}
.well-services:hover .big-icon {
    transition: 0.4s;
    color: #1ba8c6;
}
.well-services.first-item,
.well-services.thired-item{
    position: relative;
    top: 60px;
}
/*----------------------------------------
 18.Reviews Area Css
----------------------------------------*/
.reviews-area{
    position: relative;
}
.reviews-area{
    position: relative;
}
.single-testi {
    margin: 0px 0px 30px;
}
.clients-text {
    padding: 30px 30px;
    position: relative;
    background-color: #38117F;
    border:1px solid #38117F;
    border-radius: 4px;
}
.testi-img {
    position: relative;
    margin-top: 20px;
    display: block;
    overflow: hidden;
}
.testi-img img {
    max-width: 80px;
    height: auto;
    border-radius: 50px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 20px;
}
.Reviews-content {
    margin-bottom: 15px;
}
.active.center .single-testi .clients-text{
    border: 1px solid #38117F;
    background: #38117F;
}
.testi-text h4 {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 0px; 
    color:fff;
}
.guest-rev {
    font-weight: 400;
}
.testi-text p {
    margin-bottom: 0px;
}
.client-rating {
    margin-bottom: 15px;
}
.testi-text span a{
    color:#3078fb;
}
.testi-text h5 {
    color: #6a7d91;
    font-size: 20px;
}
.client-rating a {
    display: inline-block;
    color: #fec731;
    font-size: 20px;
    padding: 0px 5px 0px 0px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot > span {
    background: #7e8ca0 none repeat scroll 0 0;
    display: inline-block;
    height: 8px;
    width: 8px;
    -moz-transition:0.4s;
    -webkit-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
    border-radius: 50%;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots {
    bottom: -20px;
    display: block;
    left: 50%;
    margin-left: -40px;
    position: absolute;
}
.testimonial-content {
    margin-bottom: 15px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot {
    display: inline-block;
    margin: 0 3px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot.active span {
    background: #1ba8c6;
    width: 30px;
    border-radius: 3px;
}
/*----------------------------------------*/
/*  19. FAQ  Area
/*----------------------------------------*/
.faq-area{
    position: relative;
}
.company-faq {
    display: block;
    overflow: hidden;
}
.company-faq.left-faq {
    margin-right: 40px;
}
.company-faq.right-faq {
    margin-left: 40px;
}
.faq-details .panel-heading {
    padding: 0;
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}
.panel-default {
    border-color: #f5f5f5;
    border-radius: 0 !important;
}
.panel-group .panel+.panel {
    margin-top: 30px;
}
.panel-default > .panel-heading {
    background: transparent;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border:none;
    background: transparent;
}
.faq-details h4.check-title a {
    display: block;
    font-weight: 500;
    padding: 10px 10px 10px 70px;
    text-decoration: none;
    background: transparent;
    color:#fff;
}
.panel-body {
    padding: 15px 15px 0px 70px;
}
.faq-details h4.check-title {
    color: #1ba8c6;
    font-size: 19px;
    margin-bottom: 0px;
    text-transform: capitalize;
}
.faq-details .panel-heading h4 a{
    position: relative;
}
.faq-details .panel-heading h4 a.active::before,
.faq-details .panel-heading h4 a::before {
    color: #fff;
    content: "\e65c";
    font-family: themify;
    font-size: 20px;
    left: 0px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 50px;
    height: 100%;
    border-radius: 3px;
    background: #1ba8c6;
}
.faq-details .panel-heading h4 a.active::before {
    content: "\e65f";
}
.faq-details .panel-heading h4 a.active {
    color: #1ba8c6;
}
.faq-area .col-md-6{
    padding-left: 0px;
    padding-right: 0px;
}
.faq-area .faq-content {
    margin-left: 80px;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    background: #fff;
}
.faq-content h4{
    padding-bottom: 20px;
}
/*----------------------------------------
 20. Team area
----------------------------------------*/
.team-wraper {
    display: block;
}
.single-team {
    margin-bottom: 30px;
    overflow: hidden;
}
.team-img {
    width: 50%;
    float: left;
}
.team-content {
    width: 50%;
    float: left;
    padding: 40px 10px 40px 20px;
    background: #38117F;
    height: 100%;
    min-height: 319px;
}
.team-data h4,
.team-data span,
.team-text p{
    color:#fff;
}
.team-data{
    display: block;
    margin-bottom: 20px;
}
.team-data h4{
    margin-bottom: 5px;
}
.team-social ul li {
    display: inline-block;
}
.team-social ul li a {
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    margin-right: 5px;
    width: 34px;
    height: 34px;
    border: 1px solid #1ba8c6;
    border-radius: 50%;
    background: #1ba8c6;
}
.team-social ul li a:hover{
    background:transparent;
    border: 1px solid #1ba8c6;
    color:#1ba8c6;
}
/*----------------------------------------*/
/*  21. Blog Sidebar Area
/*----------------------------------------*/
.blog-left-content {
    margin-right: 30px;
}
.blog-page-area .single-blog {
    padding: 5px;
    background: #38117F;
}
.blog-page-area .blog-content{
    padding: 10px 15px 20px;
}
.blog-search-option input {
    padding: 5px 15px;
    width: 80%;
    border: none;
    height: 56px;
    background: transparent;
}
.blog-search-option {
    margin-bottom: 30px;
    display: block;
    background:transparent;
    border: 1px solid #1ba8c6;
    border-radius: 3px;
}
.blog-search-option button {
    background: transparent;
    border: none;
}
.blog-search-option button i {
    line-height: 16px;
    font-size: 18px;
    padding: 0px 10px;
}
.blog-search-option button i:hover {
    color: #1ba8c6;
}
.left-blog h4 {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 15px 0px;
    text-transform: capitalize;
}
.left-blog h4::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 70px;
    height: 1px;
    background: #1ba8c6;
}
.blog-left-content .blog-content::after{
    display: none;
}
.left-side {
    padding-right: 40px;
}
.right-side {
    padding: 30px;
    border:1px solid #b89ddf;
}
.left-blog {
    overflow: hidden;
    padding-bottom: 20px;
}
.blog-category li,
.left-blog li {
    display: block;
    position: relative;
}
.left-blog ul li a {
    color: #e3e1e7;
    display: inline-block;
    font-size: 15px;
    padding: 7px 0px 7px 25px;
    text-transform: capitalize;
}
.blog-category ul {
    margin-top: 12px;
}
.left-blog ul li span {
    display: inline-block;
    border: 1px solid #e3e1e7;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius:50%;
    font-size: 13px;
    color: #e3e1e7;
    line-height: 24px;
}
.pst-content .date-type{
    font-size: 14px;
    color:#e3e1e7;
}
.blog-category ul li:after {
    position: absolute;
    content: "\e649";
    right: 5px;
    top: 8px;
    font-family: themify;
    color: #e3e1e7;
    font-size: 11px;
}
.popular-tag.left-blog ul li a:before {
    display: none;
}
.recent-single-post {
    display: block;
    overflow: hidden;
    padding: 15px 0px;
}
.recent-single-post:last-child {
    border-bottom: none;
}
.post-img {
    display: inline-block;
    float: left;
    padding-right:10px;
}
.left-blog .post-img a {
    display: block;
    border:1px solid #b89ddf; 
}
.left-blog .post-img a img {
    border-radius: 4px;
}
.pst-content {
    padding-left: 100px;
}
.pst-content p{
    margin-bottom: 0px;
}
.pst-content p a:hover,.left-blog ul li a:hover {
    color: #1ba8c6;
}
.blog-page-area .blog-content {
    background: #f9f9f9;
}
.pst-content p a {
    color: #e3e1e7;
    font-size: 15px;
}
.blog-tags {
    padding: 1px 0;
}
.recent-single-post img {
    width: 100%;
    max-width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 2px;
}
.left-blog li:last-child {
    border-bottom: 0 ;
}
.popular-tag.left-side-tags.left-blog ul {
    padding:0px;
}
.left-tags .left-side-tags ul li {
    border-bottom: 0;
    display: inline-block;
    margin: 5px 3px;
}
.left-tags .left-side-tags ul li a {
    padding: 5px 10px;
    width: auto;
    background: #38117F;
    color: #e3e1e7;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
}
.left-tags .left-side-tags ul li a:hover {
    color:#fff;
    background:#1ba8c6;
}
.left-side-tags h4 {
    margin-bottom: 15px;
}
.blog-side-area .blog-right-column{
    margin-top: -30px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 0 0px;
    border-radius: 4px;
}
.pagination>li>a, 
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #e3e1e7;
    background-color: #38117F;
    border: none;
    margin-left: -1px;
    border-radius: 2px;
}
.pagination>li {
    display: inline-block;
    margin: 0px 3px 0px 0px;
}
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus{
    z-index: 3;
    color: #fff;
    background-color: #1ba8c6;
    cursor: default;
    border-radius: 2px;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #1ba8c6;
    border-color: #1ba8c6;
    border-radius: 2px;
}
.adver-img {
    margin-top: 20px;
}
/*----------------------------------------*/
/*  22. Blog Details
/*----------------------------------------*/
.blog-post-wrapper{
    margin-right: 30px;
}
.comments-heading h3, h3.comment-reply-title {
    border-bottom: 1px solid #8149d2;
    color: #e3e1e7;
    font-size: 18px;
    margin: 0 0 40px;
    padding: 0 0 5px;
    text-transform: capitalize;
}
.comments-list ul li{
    margin-bottom: 25px;
}
.comments-list-img{
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    
}
.comments-list-img img {
    border-radius: 50%;
    border: 1px solid #38117F;
}
.comments-content-wrap {
    color: #ddd;
    font-size: 14px;
    margin: 0 0 15px 90px;
    padding: 10px;
    position: relative;
}
blockquote {
    padding: 20px 40px 40px 80px;
    margin: 0 0 20px;
    font-size: 15px;
    border-left: none;
    font-style: italic;
    position: relative;
    background: #240255;
}
blockquote::before {
    position: absolute;
    top: 20px;
    left: 30px;
    content: "\f10d ";
    font-family: fontawesome;
    font-size: 34px;
    color: #ddd;
}
blockquote p {
    font-size: 16px !important;
    line-height: 28px;
}
.author-avatar {
    display: inline-block;
    float: left;
    width: 10%;
}
.comments-content-wrap span b{margin-right:5px}
.comments-content-wrap span a:hover{}
span.post-time{margin-right:5px}
.comments-content-wrap p {
    color: #e3e1e7;
    margin-top: 10px;
}
.threaded-comments{
    margin-left:50px
}
.comment-respond {
    margin-top: 20px;
}
span.email-notes{
    color: #e3e1e7;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}
.comment-respond p {
    color: #e3e1e7;
    margin-bottom: 5px;
}
.comment-respond input[type=text],
.comment-respond input[type=email]{
    border: 1px solid #b89ddf;
    border-radius: 0;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    width: 100%;
    background: transparent;
}
.comment-respond textarea#message-box{
    border: 1px solid #b89ddf;
    border-radius: 0;
    max-width: 100%;
    padding: 10px;
    height: 200px;
    width: 100%;
    background: transparent;
}
.comments-content-wrap span a {
    color: #1ba8c6;
}
.comments-content-wrap span a:hover {
    color: #1ba8c6;
}
.comment-respond .add-btn.contact-btn {
    background: #1ba8c6;
    color: #fff;
    display: block;
    font-size: 16px;
    margin-top: 5px;
    padding: 10px 20px;
    transition: 0.4s;
    border-radius: 2px;
    width: auto !important;
    margin-top: 20px;
    border: 1px solid #1ba8c6;
    text-transform: capitalize;
    font-weight: 600;
}
.comment-respond .add-btn.contact-btn:hover{
    background:transparent;
    color: #1ba8c6;
    border:1px solid #1ba8c6;
}
.blog-page-details .left-blog-page {
    margin-top:0px;
    margin-bottom:30px;
}
.single-post-comments,
.related-post{
    margin-top: 30px;
}
.left-head-blog .pst-content p{
    margin-bottom: 5px;
}
.blog-details .blog-content h4 {
    font-size: 22px;
    line-height: 34px;
}
.blog-details .blog-content h5 {
    font-size: 20px;
}
.blog-details .blog-images img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
}
.blog-details .img-blog {
    margin: 30px 0px;
    width: 100%;
    height: 100%;
    max-height: 350px;
    overflow: hidden;
}
.related-post-list .recent-single-post {
    width: 50%;
    float: left;
    padding: 0px 20px 0px 0px;
}
.related-post-list .recent-single-post:last-child{
    padding: 0px 0px 0px 20px;
}
.blog-details .blog-meta {
    margin-bottom: 10px;
}
/*----------------------------------------*/
/*  23. Contact Us page
/*----------------------------------------*/
.contact-details {
    display: block;
    overflow: hidden;
    padding: 40px;
    background: #38117F;
    border-radius: 4px;
    margin-right: 50px;
}
.contact-icon {
    margin-bottom: 30px;
}
.single-contact h5 {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.single-contact a {
    display: block;
    margin-bottom: 10px;
}
.single-contact a i {
    float: left;
    color: #fff;
    font-size: 18px;
    padding-right: 20px;
    line-height: 24px;
}
.contact-head {
    background: #f4f4f4;
    padding: 50px 30px;
}
.contact-head h4 {
    font-size: 28px;
}
.contact-head p {
    font-size: 17px;
}
.single-contact span {
    color: #ddd;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
    border: 1px solid #38117F;
    border-radius: 0;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    width: 100%;
    background: #38117F;
}
.contact-form textarea#message {
    border: 1px solid #38117F;
    border-radius: 0px;
    height: 220px;
    padding: 20px;
    width: 100%;
    background: #38117F;
}
.contact-page .contact-btn {
    background: #1ba8c6;
    border: 1px solid #1ba8c6;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    padding: 13px 40px;
    transition: 0.4s;
    border-radius: 3px;
    width: auto;
    float: left;
    text-transform: capitalize;
    font-weight: 600;
}
.contact-page .contact-btn:hover {
    background:transparent;
    border: 1px solid #1ba8c6 ;
    color: #1ba8c6;
    transition: 0.4s;
}
.contact-inner {
    overflow: hidden;
    padding: 0px 0px 60px;
}
.contact-single {
    padding: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid #38117F;
}
.club-btn {
    border: 1px solid #1ba8c6;
    background: #1ba8c6;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px 30px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
    border-radius: 3px;
}
.club-btn:hover {
    color: #1ba8c6;
    background: transparent;
    transition: all 0.4s ease 0s;
}

/*----------------------------------------
 24. Login And Register page
----------------------------------------*/
.login-area{
    background:url(img/background/slide1.jpg) no-repeat scroll center center / cover;
    position: relative;
}
.login-overlay {
    position: absolute;
    background: rgba(58,20,132,0.40);
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
}
.login-form {
    background: #38117F;
    padding: 40px 60px;
    margin: 0px 40px;
    border-radius: 4px;
}
.login-area form#contactForm {
    border: none;
    border-radius:0;
    box-shadow: none;
    background: #fff;
}
.login-form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 7px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 1px solid #666;
    border-radius: 3px;
    margin-bottom: 20px;
}
.login-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.slide-btn.login-btn {
    border: 1px solid #1ba8c6;
    display: inline-block;
    font-weight: 600;
    margin: 0px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    width: 100%;
    border-radius: 0px;
    background: #1ba8c6;
    color: #fff;
    height: 50px;
    font-size: 16px;
}
.slide-btn.login-btn:hover{
    background: transparent;
    color:#1ba8c6;
    transition: all 0.4s ease 0s;
}
.flex-box{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.check-group {
    position: relative;
    margin: 10px 0px 20px;
}
.check-box{
    color: #444;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 0;
    outline: none;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0;
}
.check-box-input {
    position: absolute;
    left: 0px;
    top: 0px;
    min-height: 25px;
    height: 26px;
    margin: 0 !important;
    padding: 0 !important;
}
.remember-text {
    color: #c4d5f6;
    font-weight: 300;
    font-size: 14px;
    left: 25px;
    position: absolute;
    top: 0px;
}
.text-muted {
    font-size: 12px;
    float: right;
    margin-top: 2px;
    color: #c4d5f6;
}
.text-muted:hover{
    color: #fff;
}
.separetor {
    margin-top: 20px;
}
.separetor span {
    color: #fff;
    position: relative;
    top: 10px;
}
.sign-icon {
    display: block;
    overflow: hidden;
    margin-top: 40px;
    text-align: center;
}
.acc-not a {
    color: #fff;
}
.sign-icon ul li {
    display: inline-block;
    margin: 0px 2px;
}
.sign-icon ul li a {
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 48px;
    width: 44px;
    height: 44px;
    border-radius: 2px;
}
.sign-icon ul li a.facebook{
    background: #3B5998
}
.sign-icon ul li a.twitter{
    background: #00ACED
}
.sign-icon ul li a.google{
    background: #C32F10
}
.sign-icon ul li a.instagram{
    background: #B5348E
}
.sign-icon ul li a :hover{
    opacity: 0.7;
}
.acc-not {
    font-size: 13px;
    margin-top: 20px;
    font-weight: 600;
}
.signup-form .check-group {
    position: relative;
    margin: 0px 0px 20px;
}
/*----------------------------------------*/
/*  25. Animation  CSS
/*----------------------------------------*/
.last-item{
    margin-bottom: 0px;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes popcircle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}

/*--------------------------------*/
/* .End CSS
/*--------------------------------*/