html {
    font-family: sans-serif;
}

html h1 {
    text-align: center;
}

html h2 {
    text-align: left;
    color: grey;
}

#exampleSlider {
    position: relative;
}

@media (max-width: 767px) {
    #exampleSlider {
        border-color: transparent;
    }
}

#exampleSlider .MS-content {
    margin: 15px 5%;
    overflow: hidden;
    white-space: nowrap;
    /* border: 1px solid white; */
}

@media (max-width: 767px) {
    #exampleSlider .MS-content {
        margin: 0;
    }
}

#exampleSlider .MS-content .item {
    display: inline-block;
    height: 36.4%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    /* border: 1px solid white; */
    border-right: none;
    width: 30%;
    background: #38117F;
    /* padding: 20px 0px 40px; */
    padding-top: 30px;
    padding-bottom: 31.2%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

@media (max-width: 1200px) {
    #exampleSlider .MS-content .item {
        width: 25%;
    }
}

@media (max-width: 992px) {
    #exampleSlider .MS-content .item {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #exampleSlider .MS-content .item {
        width: 50%;
        height: 25%;
    }
}

#exampleSlider .MS-content .item p {
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    vertical-align: middle;
    padding: 10px 0;
    margin-top: 10px;
}

#exampleSlider .MS-controls button {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 30px;
    outline: 0;
    top: 35px;
}

@media (max-width: 767px) {
    #exampleSlider .MS-controls button {
        display: none;
    }
}

#exampleSlider .MS-controls button:hover {
    cursor: pointer;
}

#exampleSlider .MS-controls .MS-left {
    left: 10px;
}

@media (max-width: 992px) {
    #exampleSlider .MS-controls .MS-left {
        left: -2px;
    }
}

#exampleSlider .MS-controls .MS-right {
    right: 10px;
}

@media (max-width: 992px) {
    #exampleSlider .MS-controls .MS-right {
        right: -2px;
    }
}

.carousel-inner>.item>img {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.carousel-caption {
    margin-bottom: 13%;
}

.mbhidden {
    display: block !important;
}

.webhidden {
    display: none !important;
}

@media (min-width: 360px) and (max-width: 800px) {
    .carousel-inner>.item>img {
        height: -webkit-fill-available !important;
        width: 100%;
    }
    .carousel-inner {
        height: 50%;
    }
    .carousel-caption {
        margin-bottom: 30%;
    }
    .mbhidden {
        display: none !important;
    }
    .webhidden {
        display: block !important;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .carousel-inner>.item>img {
        height: -webkit-fill-available !important;
        width: 100%;
    }
    .carousel-inner {
        height: 50%;
    }
    .carousel-caption {
        margin-bottom: 10%;
    }
    .mbhidden {
        display: none !important;
    }
    .webhidden {
        display: block !important;
    }
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

