@media (min-width: 1919px) {

	
	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1269px) {	  
.header-right-link {
    margin-left: 10px;
} 
.main-menu ul.navbar-nav li a {
    font-size: 15px;
    padding: 35px 10px;
}    
.header-area.stick .header-right-link {
    margin-left: 10px;
} 
.header-area.stick .main-menu ul.navbar-nav li a {
    font-size: 15px;
    padding: 32px 10px;
}        
.pri_table_list {
    padding: 40px 15px;
}        
.fun-text .counter {
    font-size: 32px;
    line-height: 34px;
}
.fun-text h4 {
    font-size: 22px;
}
.single-fun {
    padding: 30px 20px;
}   
.about-content h3 {
    line-height: 36px;
    font-size: 29px;
}  
.about-image {
    margin-right: 0px;
}    
.single-about a {
    margin-right: 15px;
} 
.icon-text p {
    font-size: 15px;
}    
.support-services {
    padding: 40px 24px;
}    
.support-content h4 {
    font-size: 22px;
}   
.overview-text {
    margin-top: 0px;
}    
.overview-text h3 {
    font-size: 33px;
    line-height: 40px;
}    
.blog-content a h4 {
    font-size: 20px;
}    
.intro-area-2 .slide-all-text {
    text-align: center;
    margin-top: 90px;
}
.team-content {
    padding: 20px 10px 20px 15px;
    min-height: 250px;
}    
.team-data {
    margin-bottom: 10px;
}    
.right-side {
    padding: 30px 15px;
}
.blog-search-option input {
    width: 77%;
}
    
    
    
    
    
}




/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.logo a {
    padding: 15px 0;
}
.header-right-link {
    width: 85px;
    margin-left: 10px;
    padding: 25px 0px;
}
.header-area.stick .header-right-link{
    padding: 26px 0px;
}
.layer-1 h2 {
    font-size: 31px;
    line-height: 40px;
    max-width: 460px;
    margin-bottom: 10px;
}
.layer-2 p {
    font-size: 15px;
    line-height: 24px;
    max-width: 400px;
    margin-bottom: 0px;
}
.intro-content {
    margin-top: -70px;
}
.slide-all-text {
    margin-top: 30px;
}
.intro-area-2 .slide-top-image {
    left: 40%;
    top: -30%;
}
.main-menu ul.navbar-nav li>a, 
.header-area.stick .main-menu ul.navbar-nav li>a {
    font-size: 13px;
    padding: 29px 7px;
}
.main-menu ul.nav li .mega-menu {
    width: 720px;
    left: -54%;
}
.main-menu > ul.navbar-nav >li >a::before,
.header-area.stick .main-menu > ul.navbar-nav >li >a::before {
    left: 9px;
    bottom: 25px;
}       
.section-headline h3 {
    font-size: 32px;
    line-height: 38px;
}    
.diposite-box {
    width: 100%;
}
.single-fun {
    padding: 30px 10px;
} 
.single-fun .counter-icon {
    font-size: 34px;
    margin-right: 15px;
    line-height: 68px;
    width: 70px;
    height: 70px;
}
.fun-text h4 {
    margin-bottom: 0px;
    font-size: 16px;
}
.fun-text .counter {
    font-size: 28px;
    line-height: 30px;
    padding-bottom: 0px;
}
.icon-text p{
    font-size: 15px;
}    
.single-about a {
    margin-right: 15px;
}    
.about-content h3 {
    line-height: 34px;
    font-size: 26px;
}    
.about-image {
    margin-right: 0px;
}    
.single-proses {
    padding: 60px 20px 40px;
}    
.proses-text h4 {
    font-size: 19px;
}    
.overview-text {
    margin-top: 0px;
}   
.overview-images {
    margin-right: 0px;
}    
.overview-text h3 {
    font-size: 26px;
    line-height: 36px;
}
.right-side {
    padding: 30px 15px;
}    
.blog-search-option input {
    width: 70%;
}    
.post-img {
    display: none;
}    
.pst-content {
    padding-left: 0px;
}
.footer-list {
    width: 100%;
    float: none;
}    
.footer-content.logo-footer {
    padding-right: 0px;
}    
.suscribe-input {
    width: 100%;
}    
.well-services {
    padding: 0px;
}    
.company-faq.left-faq {
    margin-right: 10px;
}
.company-faq.right-faq {
    margin-left: 10px;
}
.team-img {
    width: 40%;
}    
.team-content {
    width: 60%;
    padding: 40px 30px 40px 40px;
    height: 100%;
    min-height: 330px;
}    
.login-form {
    margin: 0px 10px;
}    
.blog-left-content {
    margin-right: 0px;
}    
.contact-details {
    margin-right: 10px;
    padding: 30px;
}
    
    
    
    
    
    
    
    
	
}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.logo {
    height: inherit;
    left: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    z-index: 999999;
    max-width: 130px;
}
.logo a,
.header-two .logo a{
    padding: 0px;
}
.intro-bg{
	display: none;
}
.intro-area{
    float: none;
    width: 100%;
    height: 100%;
    min-height: 520px;
}
.bg-wrapper,
.bg-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 520px;
    object-fit: cover;
}
.intro-content {
    margin-top: -120px;
}
.slide-all-text {
    margin-top: 60px;
}
.layer-1 h2, .intro-area-2 .layer-1 h2 {
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 15px;
}
.layer-2 p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}             
.topbar-right {
    float: none;
}   
.topbar-left ul li a {
    margin-right: 5px;
    padding: 11px 0 0px;
    font-size: 14px;
}    
.topbar-right>ul>li>a {
    color: #c2d4f8;
    display: block;
    padding: 10px 30px 10px 0px;
    position: relative;
} 
.fun-text .counter {
    font-size: 30px;
    line-height: 30px;
}    
.fun-text h4 {
    font-size: 20px;
}    
.single-fun {
    padding: 30px 15px;
} 
.about-image {
    margin-right: 0px;
    margin-bottom: 30px;
}    
.about-content h3 {
    line-height: 34px;
    font-size: 26px;
}    
.single-about a {
    margin-right: 15px;
}    
.section-headline h3 {
    font-size: 32px;
    line-height: 38px;
}
.icon-text h5 {
    font-size: 19px;
}
.top-price-inner h3 {
    font-size: 26px;
} 
.diposite-box {
    width: 100%;
    padding: 40px 20px;
    min-width: 100%;
}
.deposite-table {
    min-width: 1000px;
}
.diposite-box, .deposite-content {
    max-width: 100%;
    overflow-x: auto;
}
.diposite-box h4 {
    font-size: 18px;
    padding: 10px 15px;
}
.diposite-box span {
    padding: 10px 10px;
}
.proses-text h4 {
    font-size: 20px;
}    
.overview-images {
    margin-right: 0px;
}    
.overview-text h3 {
    font-size: 26px;
    line-height: 36px;
}    
.blog-content {
    padding: 30px 15px;
}    
.blog-content a h4 {
    font-size: 21px;
}    
.footer-content.logo-footer {
    padding-right: 0px;
}
.suscribe-input {
    width: 100%;
}    
.footer-content {
    margin-bottom: 40px;
}    
.footer-head h4 {
    margin-bottom: 15px;
}    
.last-content {
    margin-bottom: 0px;
}   
.intro-area-2 .slide-all-text {
    margin-top: 50px;
}    
.well-services.first-item, .well-services.thired-item {
    top: 0px;
}
.well-services{
    margin-bottom: 30px;
}   
.how-to-area {
    padding: 100px 0px 70px;
}    
.company-faq.right-faq {
    margin-left: 0px;
    margin-top: 20px;
} 
.team-content,
.team-img {
    width: 100%;
    float: none;
}    
.login-form {
    padding: 30px 20px;
    margin:0px;
}    
.blog-left-content,
.blog-post-wrapper{
    margin-right: 0px;
}   
.right-side {
    padding: 20px;
    margin-top: 40px;
}    
.blog-search-option input {
    width: 75%;
}    
.pst-content p a {
    font-size: 14px;
}    
.related-post-list .recent-single-post {
    width: 100%;
    float: none;
    padding: 0px 0px 20px;
}
.related-post-list .recent-single-post:last-child {
    padding: 0px;
}
.comments-list-img {
    width: 60px;
    height: 60px;
}    
.comments-content-wrap {
    margin: 0 0 5px 65px;
}    
.threaded-comments {
    margin-left: 20px;
}    
.contact-single {
    padding: 30px 20px;
    margin-bottom: 30px;
}    
.contact-details {
    padding: 30px 20px;
    margin-right: 0px;
    margin-bottom: 50px;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.digital-services {
    width: 50%;
    float: left;
}  
    
    
    
    
    
    
    
    
}
 