<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html style="width:100%;font-family:helvetica, &#39;helvetica neue&#39;, arial, verdana, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;">

<body style="width:100%;font-family:helvetica, &#39;helvetica neue&#39;, arial, verdana, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;background-color:#F6F6F6;">
<div class="es-wrapper-color" style="background-color:#F6F6F6;">

<table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;">
<tbody>
<tr style="border-collapse:collapse;">
<td valign="top" style="padding:0;Margin:0;">                  
<table cellpadding="0" cellspacing="0" class="es-header" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top;">
<tbody>
<tr style="border-collapse:collapse;">
<td align="center" style="padding:0;Margin:0;">
<table bgcolor="transparent" class="es-header-body" align="center" cellpadding="0" cellspacing="0" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;">
<tbody>
<tr style="border-collapse:collapse;">
<td align="left" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-position:left top;">
        <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;">
           <tbody>
              <tr style="border-collapse:collapse;">
                 <td width="270" class="es-m-p20b" align="left" style="padding:0;Margin:0;">
                    <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                       <tbody>
                          <tr style="border-collapse:collapse;">
                             <td align="left" class="es-m-txt-c" style="padding:0;Margin:0;">
                              <img src="{{LOGO_URL}}" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="135"></td>
                          </tr>
                       </tbody>
                    </table>
                 </td>
              </tr>
           </tbody>
        </table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
<tbody>
<tr style="border-collapse:collapse;">
<td align="center" style="padding:0;Margin:0;">
<table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;">
<tbody>
<tr style="border-collapse:collapse;">
<td align="left" style="padding:0;Margin:0;background-position:center top;background-color:#202447;" bgcolor="#202447">
<table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
  <tbody>
     <tr style="border-collapse:collapse;">
        <td width="600" align="center" valign="top" style="padding:0;Margin:0;">
           <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-image:url({{WEB_URL}}assets/front/images/banner.jpg);background-position:left top;background-repeat:no-repeat;background-size:cover;">
              <tbody>
                 <tr style="border-collapse:collapse;">
                    <td align="center" height="118" style="padding:0;Margin:0;"></td>
                 </tr>
                 <tr style="border-collapse:collapse;">
                    <td align="center" style="padding:0;Margin:0;">
                       <h1 style="Margin:0;line-height:36px;mso-line-height-rule:exactly;font-family:helvetica, &#39;helvetica neue&#39;, arial, verdana, sans-serif;font-size:33px;font-style:normal;font-weight:bold;color:#FFFFFF;">
                        Welcome to pointwish.com<br><br></h1>
                       <h1 style="Margin:0;line-height:36px;mso-line-height-rule:exactly;font-family:helvetica, &#39;helvetica neue&#39;, arial, verdana, sans-serif;font-size:24px;font-style:normal;font-weight:bold;color:#FFFFFF;">Join leading marketing company now. Earn quick income easily by connecting more number of people to the network.<br></h1>
                    </td>
                 </tr>
                 <tr style="border-collapse:collapse;">
                    <td align="center" height="118" style="padding:0;Margin:0;"></td>
                 </tr>
              </tbody>
           </table>
        </td>
     </tr>
  </tbody>
</table>
</td>
</tr>
<tr style="border-collapse:collapse;">
<td align="left" style="Margin:0;padding-bottom:10px;padding-top:20px;padding-left:20px;padding-right:20px;background-position:center top;">
<table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
  <tbody>
     <tr style="border-collapse:collapse;">
        <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
           <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-position:left top;">
              <tbody>
                 <tr style="border-collapse:collapse;">
                    <td align="center" class="es-m-txt-c" style="padding:0;Margin:0;padding-bottom:10px;">
                       <h2 style="Margin:0;line-height:29px;mso-line-height-rule:exactly;font-family:helvetica, &#39;helvetica neue&#39;, arial, verdana, sans-serif;font-size:24px;font-style:normal;font-weight:bold;color:#040404;">
                        One time password given below: </h2>
                    </td>
                 </tr>

                 <tr style="border-collapse:collapse;">
                    <td align="center" style="padding:0;Margin:0;padding-bottom:5px;">
                       <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:helvetica, &#39;helvetica neue&#39;, arial, verdana, sans-serif;line-height:21px;color:#999999;">

                       <strong><h1>{{OPT_CODE}}</h1></strong>

                        </p>
                    </td>
                 </tr>

                 <tr>
                  <td></td>
                 </tr>
                
                
              </tbody>
           </table>
        </td>
     </tr>
  </tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellpadding="0" cellspacing="0" class="es-footer" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top;">
<tbody>
<tr style="border-collapse:collapse;">
<td align="center" style="padding:0;Margin:0;">
<table bgcolor="#ffffff" class="es-footer-body" align="center" cellpadding="0" cellspacing="0" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;">
<tbody>
<tr style="border-collapse:collapse;">
<td align="left" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-position:left top;background-repeat:no-repeat;background-color:#cacaca;"  bgcolor="#333333">

        <table cellpadding="0" cellspacing="0" class="es-right" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:none;background-position:left top;">
           <tbody>
              <tr style="border-collapse:collapse;">
                 <td width="172" align="left" style="padding:0;Margin:0;">
                    <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                       <tbody>
                          <tr style="border-collapse:collapse;">
                             <td align="center" class="es-m-txt-c" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;">
                    
                             </td>
                          </tr>
                          <tr style="border-collapse:collapse;">
                             <td align="center" style="padding:0;Margin:0;">
                                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:helvetica, &#39;helvetica neue&#39;, arial, verdana, sans-serif;line-height:21px;color:#FFFFFF;"><a target="_blank" href="http://www.your-website.com/" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, &#39;helvetica neue&#39;, arial, verdana, sans-serif;font-size:14px;text-decoration:none;color:#FFFFFF;">www.pointwish.com</a></p>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </td>
              </tr>
           </tbody>
        </table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>