.summary-bg {
    background-position: right bottom;
    background-size: 80% auto;
    background-image: url(../images/gallery/img-cy.png)
}

.text-bdd1f8 {
    color: #bdd1f8 !important;
}

.content-wrapper {
    min-height: 84.6vh !important;
}

input:read-only {
    cursor: no-drop !important;
}

.text-right {
    text-align: right;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.ml-4 {
    margin-left: 1.5rem !important;
}

.ml-5 {
    margin-left: 3rem !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.mr-4 {
    margin-right: 1.5rem !important;
}

.mr-5 {
    margin-right: 3rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.mt-n2 {
    margin-top: -0.5rem !important;
}

.mt-n3 {
    margin-top: -1rem !important;
}

.mt-n4 {
    margin-top: -1.5rem !important;
}

.mt-n5 {
    margin-top: -3rem !important;
}

.mb-n1 {
    margin-bottom: -0.25rem !important;
}

.mb-n2 {
    margin-bottom: -0.5rem !important;
}

.mb-n3 {
    margin-bottom: -1rem !important;
}

.mb-n4 {
    margin-bottom: -1.5rem !important;
}

.mb-n5 {
    margin-bottom: -3rem !important;
}

.ml-n1 {
    margin-left: -0.25rem !important;
}

.ml-n2 {
    margin-left: -0.5rem !important;
}

.ml-n3 {
    margin-left: -1rem !important;
}

.ml-n4 {
    margin-left: -1.5rem !important;
}

.ml-n5 {
    margin-left: -3rem !important;
}

.mr-n1 {
    margin-right: -0.25rem !important;
}

.mr-n2 {
    margin-right: -0.5rem !important;
}

.mr-n3 {
    margin-right: -1rem !important;
}

.mr-n4 {
    margin-right: -1.5rem !important;
}

.mr-n5 {
    margin-right: -3rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-1 {
    padding-left: 0.25rem !important;
}

.pl-2 {
    padding-left: 0.5rem !important;
}

.pl-3 {
    padding-left: 1rem !important;
}

.pl-4 {
    padding-left: 1.5rem !important;
}

.pl-5 {
    padding-left: 3rem !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-1 {
    padding-right: 0.25rem !important;
}

.pr-2 {
    padding-right: 0.5rem !important;
}

.pr-3 {
    padding-right: 1rem !important;
}

.pr-4 {
    padding-right: 1.5rem !important;
}

.pr-5 {
    padding-right: 3rem !important;
}

.dark-skin .dz-button {
    background: transparent;
    border-color: transparent;
    color: #b5b5c3;
}

.card-exchange {
    background-color: #0b172d;
    padding: 1rem;
}

.btn-block {
    width: 100% !important;
}

.w-100p {
    width: 100% !important;
}

.exchange-calculator {
    padding: 20px !important;
}

.dashboard-card {
    display: flex;
    justify-content: space-between;
}

.amount-dash-card {
    margin-top: 0;
    font-weight: 600;
    /* color: #ffa800 !important; */
}

.name-dash-card {
    margin-bottom: 0 !important;
    font-size: 16px;
    color: #b5b5c3 !important;
}

#country_code {
    max-width: 100px !important;
    outline: none !important;
}